{% load staticfiles %}
<!-- Footer -->
            			<footer id="footer" class="footer-container">
                                <section id="leo-footer-center" class="footer-center">
					<div class="container"> 
						<div class="inner">			
							
								           
        <div class="row min-hieght" >
                                                                 <div class="widget col-lg-3 col-md-3 col-sm-6 col-xs-6 col-sp-12" >
                                                            <div class="widget-html block">
		<h4 class="title_block">
		About  <span>Giftshop</span>
	</h4>
		<div class="block_content">
		<div class="about"><a href="#"><img src="{% static 'tohfa/themes/leo_giftshop/img/modules/leomanagewidgets/img-about.jpg' %}" alt="" /> </a>
<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat</p>
<p>Lipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
</div>
	</div>
</div>
                                                        </div>
                                                                 <div class="widget col-lg-3 col-md-3 col-sm-6 col-xs-6 col-sp-12" >
                                                            <div class="widget-html block">
		<h4 class="title_block">
		Contact <span> info </span>
	</h4>
		<div class="block_content">
		<div class="ct-content">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae</div>
<ul class="contact-us">
<li><em class="fa fa-map-marker">&nbsp; </em>No 1104 Sky Tower, Las Vegas, USA</li>
<li><em class="fa fa-phone">&nbsp;</em>+01 888 (000) 1234</li>
<li><em class="fa fa-envelope">&nbsp; </em>support@exist.com</li>
<li><em class="fa fa-folder">&nbsp;</em>1234 758 955 12</li>
</ul>
	</div>
</div>
                                                        </div>
                                                                 <div class="widget col-lg-3 col-md-3 col-sm-6 col-xs-6 col-sp-12" >
                                                            
<!-- MODULE Block blockleoblogstabs -->
<div id="blockleoblogstabs" class="block blogs_block exclusive blockleoblogs">
	<h4 class="title_block">Latest <span>Blogs</span> </h4>
	<div class="block_content">	
								<div class="carousel slide" id="blockleoblogs">
	 	 
		
	 	<a class="carousel-control left" href="#blockleoblogs"   data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#blockleoblogs"  data-slide="next">&rsaquo;</a>
		<div class="carousel-inner row">
				<div class="item active">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog_block ajax_block_blog first_item">
					<div class="blog_container clearfix">
							
														<div class="blog-image">
								<img src="{% static 'tohfa/img/leoblog/b/53/70_70/b-blog-1.jpg' %}" title="At risus pretium urna tortor metus fringilla" class="img-responsive" alt=""/>
							</div>
							
								 
								<span class="blog-created"><span class=""></span>
									<span class="icon-calendar"> On </span> Thursday, December 11, 2014
								</span>
								 
														<h5><a href="{% url 'single2' 1 %}" title="At risus pretium urna tortor metus fringilla">At risus pretium urna tortor metus fringilla</a></h5>
							
							<div class="blog-meta">
								 
																
								
								  
								
																							</div>
						</div>
				</div>
				
									
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog_block ajax_block_blog ">
					<div class="blog_container clearfix">
							
														<div class="blog-image">
								<img src="{% static 'tohfa/img/leoblog/b/54/70_70/b-blog-2.jpg' %}" title="Morbi condimentum molestie Nam enim odio sodales" class="img-responsive" alt=""/>
							</div>
							
								 
								<span class="blog-created"><span class=""></span>
									<span class="icon-calendar"> On </span> Thursday, December 11, 2014
								</span>
								 

														<h5><a href="{% url 'single2' 5 %}" title="Morbi condimentum molestie Nam enim odio sodales">Morbi condimentum molestie Nam enim odio sodales</a></h5>
							
							<div class="blog-meta">
								 
																
								
								  
								
																							</div>
						</div>
				</div>
				
									
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog_block ajax_block_blog last_item">
					<div class="blog_container clearfix">
							
														<div class="blog-image">
								<img src="{% static 'tohfa/img/leoblog/b/55/70_70/b-blog-3.jpg' %}" title="Urna pretium elit mauris cursus Curabitur at elit Vestibulum" class="img-responsive" alt=""/>
							</div>
							
								 
								<span class="blog-created"><span class=""></span>
									<span class="icon-calendar"> On </span> Thursday, December 11, 2014
								</span>
								 
														<h5><a href="{% url 'single2' 12 %}" title="Urna pretium elit mauris cursus Curabitur at elit Vestibulum">Urna pretium elit mauris cursus Curabitur at elit Vestibulum</a></h5>
							
							<div class="blog-meta">
								 
																
								
								  
								
																							</div>
						</div>
				</div>
				
									
						</div>		
			<div class="item ">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog_block ajax_block_blog first_item">
					<div class="blog_container clearfix">
							
														<div class="blog-image">
								<img src="{% static 'tohfa/img/leoblog/b/56/70_70/b-blog-4.jpg' %}" title="Urna pretium elit mauris cursus Curabitur at elit Vestibulum" class="img-responsive" alt=""/>
							</div>
							
								 
								<span class="blog-created"><span class=""></span>
									<span class="icon-calendar"> On </span> Thursday, December 11, 2014
								</span>
								 
														<h5><a href="{% url 'single2' 13 %}" title="Urna pretium elit mauris cursus Curabitur at elit Vestibulum">Urna pretium elit mauris cursus Curabitur at elit Vestibulum</a></h5>
							
							<div class="blog-meta">
								 
																
								
								  
								
																							</div>
						</div>
				</div>
				
									
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog_block ajax_block_blog ">
					<div class="blog_container clearfix">
							
														<div class="blog-image">
								<img src="{% static 'tohfa/img/leoblog/b/57/70_70/b-blog-5.jpg' %}" title="Morbi condimentum molestie Nam enim odio sodales" class="img-responsive" alt=""/>
							</div>
							
								 
								<span class="blog-created"><span class=""></span>
									<span class="icon-calendar"> On </span> Thursday, December 11, 2014
								</span>
								 
														<h5><a href="{% url 'single2' 6 %}" title="Morbi condimentum molestie Nam enim odio sodales">Morbi condimentum molestie Nam enim odio sodales</a></h5>
							
							<div class="blog-meta">
								 
																
								
								  
								
																							</div>
						</div>
				</div>
				
									
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog_block ajax_block_blog last_item">
					<div class="blog_container clearfix">
							
														<div class="blog-image">
								<img src="{% static 'tohfa/img/leoblog/b/58/70_70/b-blog-6.jpg' %}" title="Turpis at eleifend leo mi elit Aenean porta ac sed faucibus" class="img-responsive" alt=""/>
							</div>
							
								 
								<span class="blog-created"><span class=""></span>
									<span class="icon-calendar"> On </span> Thursday, December 11, 2014
								</span>
								 
														<h5><a href="{% url 'single2' 10 %}" title="Turpis at eleifend leo mi elit Aenean porta ac sed faucibus">Turpis at eleifend leo mi elit Aenean porta ac sed faucibus</a></h5>
							
							<div class="blog-meta">
								 
																
								
								  
								
																							</div>
						</div>
				</div>
				
									
						</div>		
		</div>
</div>
			</div>
			
</div>
<!-- /MODULE Block blockleoblogstabs -->
<script type="text/javascript">
$(document).ready(function() {
    $('blockleoblogs').each(function(){
        $(this).carousel({
            pause: 'hover',
            interval: 90000
        });
    });
});
</script>
                                                         </div>
                                                                 <div class="widget col-lg-3 col-md-3 col-sm-6 col-xs-6 col-sp-12" >
                                                             <div id="block-facebook" class="block">
			<h4 class="title_block">
         face <span>facebook</span>
		</h4>
    		<div class="facebook-wrapper" style="width:275" >
					<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "{% static 'tohfa/connect.facebook.net/en/all.js' %}#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
		
		<div class="fb-like-box" data-href="https://www.facebook.com/LeoTheme" data-colorscheme="light" data-height="" data-width="275" data-show-faces="1" data-stream="0" data-show-border="0" data-header="0"></div>
	</div>
 </div>                                                        </div>
                                            </div>
    

							
						</div> 
					</div>
				</section><!-- #footercenter -->
                					<section id="leo-footer-bottom" class="footer-bottom">
						<div class="container">
							<div class="inner">			
									           
        <div class="row" >
                                                                 <div class="widget col-lg-2-4 col-md-2-4 col-sm-6 col-xs-12 col-sp-12 content_ct_footer" >
                                                            <div class="widget-links block">
		<h4 class="title_block">
		Information
	</h4>
		<div class="block_content">	
		<div id="tabs26576302" class="panel-group">
			<ul class="nav-links">
			    
			  <li ><a href="#link1" >About Us</a></li>
			    
			  <li ><a href="#link2" >Delivery Information</a></li>
			    
			  <li ><a href="#link3" >Privacy Policy</a></li>
			    
			  <li ><a href="#link4" >Terms & Conditions</a></li>
			  			</ul>
		</div>
	</div>
</div>


                                                        </div>
                                                                 <div class="widget col-lg-2-4 col-md-2-4 col-sm-6 col-xs-12 col-sp-12 content_ct_footer" >
                                                            <div class="widget-links block">
		<h4 class="title_block">
		Customer  Service
	</h4>
		<div class="block_content">	
		<div id="tabs819784484" class="panel-group">
			<ul class="nav-links">
			    
			  <li ><a href="#link1" >Contact Us</a></li>
			    
			  <li ><a href="#link2" >Returns</a></li>
			    
			  <li ><a href="#link3" >Site Map</a></li>
			    
			  <li ><a href="#" >Terms & Conditions</a></li>
			  			</ul>
		</div>
	</div>
</div>


                                                        </div>
                                                                 <div class="widget col-lg-2-4 col-md-2-4 col-sm-6 col-xs-12 col-sp-12 content_ct_footer" >
                                                            <div class="widget-links block">
		<h4 class="title_block">
		Extras
	</h4>
		<div class="block_content">	
		<div id="tabs1204044744" class="panel-group">
			<ul class="nav-links">
			    
			  <li ><a href="#link1" >Brands</a></li>
			    
			  <li ><a href="#link2" >Gift Vouchers</a></li>
			    
			  <li ><a href="#link3" >Affiliates</a></li>
			    
			  <li ><a href="#link4" >Specials</a></li>
			  			</ul>
		</div>
	</div>
</div>


                                                        </div>
                                                                 <div class="widget col-lg-2-4 col-md-2-4 col-sm-6 col-xs-12 col-sp-12 content_ct_footer" >
                                                            
<!-- Block Newsletter module-->

<div id="newsletter_block_left" class="block inline">
    <h4 class="title_block">newsletter</h4>
    <p class="hidden-xs text-newsletter">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt</p>

    <div class="block_content">
            <form action="{% url 'subscr' %}" method="post">{% csrf_token %}
            <div class="news-footer clearfix">
		<input class="inputNew newsletter-input form-control" id="newsletter-input" type="text" name="email" size="18" value="Enter your e-mail" />
                <input type="submit" value="ok" class="button_mini btn-outline btn button-default" name="submitNewsletter" />
                <input type="hidden" name="action" value="0" />
            </div>
        </form>
    </div>
</div>

<!-- /Block Newsletter module-->
                                                        </div>
                                                                 <div class="widget col-lg-2-4 col-md-2-4 col-sm-6 col-xs-12 col-sp-12 content_ct_footer" >
                                                            
<div id="social_block" class="block">
	 <h4 class="title_block">Get social</h4>
	 <p class="hidden-xs text-social">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt</p>
	 <div class="block_content">	 	
		<ul class="links">
							<li class="facebook">
					<a target="_blank" href="http://www.facebook.com/prestashop" data-original-title="Facebook">
						<span>Facebook</span>
					</a>
				</li>
										<li class="twitter">
					<a target="_blank" href="http://www.twitter.com/prestashop" data-original-title="Twitter">
						<span>Twitter</span>
					</a>
				</li>
										<li class="rss">
					<a target="_blank" href="http://www.prestashop.com/blog/en/feed/" data-original-title="RSS">
						<span>RSS</span>
					</a>
				</li>
				        	        	<li class="youtube">
	        		<a target="_blank" href="https://www.youtube.com/" data-original-title="Youtube">
	        			<span>Youtube</span>
	        		</a>
	        	</li>
	        	        	        	<li class="google-plus">
	        		<a target="_blank" href="https://plus.google.com/" data-original-title="Google Plus">
	        			<span>Google Plus</span>
	        		</a>
	        	</li>
	        	        		</ul>
	 </div>
</div>

                                                        </div>
                                            </div>
    

							</div>
						</div>
					</section><!-- #footerbottom -->
                				<section id="footernav" class="footer-nav">
					<div class="container">
						<div class="inner">							
							<div class="row">
															<div id="powered" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sp-12">
																			Copyright 2014 Powered by PrestaShop. All Rights Reserved.
																			<br/>Developed By <span class="copyright-leotheme">LeoTheme</span>
								</div><!-- #poweredby -->
																						<div id="footnav" class="widget col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sp-12">
										           
        <div class="row" >
                                                                 <div class="widget col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12" >
                                                            <div class="widget-html block">
		<div class="block_content">
		<div class="paypal pull-right"><a shref="#"><img class="img-responsive" src="{% static 'tohfa/themes/leo_giftshop/img/modules/leomanagewidgets/paypal.png' %}" alt="01" /></a></div>
	</div>
</div>
                                                        </div>
                                            </div>
    

								</div>
														</div>							
						</div>
					</div>
				</section>
            </footer><!-- .footer-container -->
