
{% load staticfiles %}
<!DOCTYPE HTML>

{% include 'tohfa/h1.html' %}
    
    
    
    
	<body id="index" class="index hide-right-column lang_en fullwidth">
						<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
	{% include 'tohfa/header.html' %}


			
							<section id="slideshow" class="clearfix">
					<div class="container container-nopadding">
							    <div class="bannercontainer banner-fullwidth" style="padding: 0;margin: 0;background-color:#d9d9d9">
        <div id="sliderlayer826675791" class="rev_slider fullwidthbanner" style="width:100%;height:431px; " >
            <ul>
                                
                <li data-link="http://www.prestashop.com"  data-masterspeed="300"  data-transition="random" data-slotamount="7" data-thumb="{% static 'tohfa/themes/leo_giftshop/img/modules/leosliderlayer/bg-slidershow-1.jpg' %}">
                                        <img src="{% static 'tohfa/themes/leo_giftshop/img/modules/leosliderlayer/bg-slidershow-1.jpg' %}" alt=""/>
                                                                                <div class="caption lfb easeOutExpo                        "
                         data-x="155"
                         data-y="33"
                         data-speed="300"
                         data-start="2800"
                         data-easing="easeOutExpo"                           >
                        
                                                  <img src="{% static 'tohfa/themes/leo_giftshop/img/modules/leosliderlayer/layer-1.png' %}" alt=""/>
                         
                    </div>
                                        <div class="caption title_slider_1 lfb easeOutExpo                        "
                         data-x="580"
                         data-y="86"
                         data-speed="300"
                         data-start="3200"
                         data-easing="easeOutExpo"  data-link="#"                         style="font-size:24px;background-color:#fff;color:#4a2627">
                        
                                                     crazy
                         
                    </div>
                                        <div class="caption title_slider_2 lfb easeOutExpo                        "
                         data-x="580"
                         data-y="125"
                         data-speed="300"
                         data-start="3600"
                         data-easing="easeOutExpo"  data-link="#"                         style="font-size:36px;background-color:#fff;color:#a0d468">
                        
                                                     christmas sale
                         
                    </div>
                                        <div class="caption dec_slider lfb easeOutExpo                        "
                         data-x="580"
                         data-y="195"
                         data-speed="300"
                         data-start="4000"
                         data-easing="easeOutExpo"                           style="font-size:14px">
                        
                                                     Proin gravida nibh vel velit auctor aliquetenean sollicitudin lorem quis bibendum <br /> auctor nisi elit consequat  ipsum  nec sagittis sem nibh id elit. Duis sed odio sit amet <br />ornare odio. 
                         
                    </div>
                                        <div class="caption text-upper btn lfb easeOutExpo                        "
                         data-x="580"
                         data-y="285"
                         data-speed="300"
                         data-start="2000"
                         data-easing="easeOutExpo"  data-link="#"                         style="font-size:14px;background-color:#f36d52;color:#fff">
                        
                                                     shop now
                         
                    </div>
                                                        </li>           
                
                <li   data-masterspeed="300"  data-transition="random" data-slotamount="7" data-thumb="{% static 'tohfa/themes/leo_giftshop/img/modules/leosliderlayer/bg-slidershow-2.jpg' %}">
                                        <img src="{% static 'tohfa/themes/leo_giftshop/img/modules/leosliderlayer/bg-slidershow-2.jpg' %}" alt=""/>
                                                                                <div class="caption sfr easeOutExpo                        "
                         data-x="659"
                         data-y="34"
                         data-speed="300"
                         data-start="400"
                         data-easing="easeOutExpo"                           >
                        
                                                  <img src="{% static 'tohfa/themes/leo_giftshop/img/modules/leosliderlayer/banner-2.png' %}" alt=""/>
                         
                    </div>
                                        <div class="caption title_slider_2 sfr easeInQuart                        ltl"
                         data-x="114"
                         data-y="125"
                         data-speed="300"
                         data-start="1772"
                         data-easing="easeOutExpo"                           style="font-size:36px;background-color:#fff;color:#a0d468">
                        
                                                     christmas sale
                         
                    </div>
                                        <div class="caption dec_slider sfb easeOutExpo                        ltb"
                         data-x="113"
                         data-y="195"
                         data-speed="300"
                         data-start="3228"
                         data-easing="easeOutExpo"                           style="font-size:16px;color:#ffffff">
                        
                                                     Donec tellus Nulla lorem Nullam elit id ut elit feugiat lacus.</br>Congue eget dapibus congue tincidunt senectus nibh risus 
                         
                    </div>
                                        <div class="caption text-upper btn lfb easeOutExpo                        "
                         data-x="114"
                         data-y="265"
                         data-speed="300"
                         data-start="4613"
                         data-easing="easeOutExpo"                           style="font-size:14px;background-color:#f36d52;color:#fff">
                        
                                                     show now
                         
                    </div>
                                                        </li>           
                
                <li data-link="http://www.prestashop.com"  data-masterspeed="300"  data-transition="random" data-slotamount="7" data-thumb="{% static 'tohfa/themes/leo_giftshop/img/modules/leosliderlayer/bg-slidershow-3.jpg' %}">
                                        <img src="{% static 'tohfa/themes/leo_giftshop/img/modules/leosliderlayer/bg-slidershow-3.jpg' %}" alt=""/>
                                                                                <div class="caption title_slider_1 lfb easeOutExpo                        "
                         data-x="580"
                         data-y="86"
                         data-speed="300"
                         data-start="3200"
                         data-easing="easeOutExpo"  data-link="#"                         style="font-size:24px;background-color:#fff;color:#4a2627">
                        
                                                     crazy
                         
                    </div>
                                        <div class="caption title_slider_2 lfb easeOutExpo                        "
                         data-x="580"
                         data-y="125"
                         data-speed="300"
                         data-start="3600"
                         data-easing="easeOutExpo"  data-link="#"                         style="font-size:36px;background-color:#fff;color:#a0d468">
                        
                                                     christmas sale
                         
                    </div>
                                        <div class="caption dec_slider lfb easeOutExpo                        "
                         data-x="580"
                         data-y="195"
                         data-speed="300"
                         data-start="4000"
                         data-easing="easeOutExpo"                           style="font-size:14px">
                        
                                                     Proin gravida nibh vel velit auctor aliquetenean sollicitudin lorem quis bibendum <br /> auctor nisi elit consequat  ipsum  nec sagittis sem nibh id elit. Duis sed odio sit amet <br />ornare odio. 
                         
                    </div>
                                        <div class="caption text-upper btn lfb easeOutExpo                        "
                         data-x="580"
                         data-y="280"
                         data-speed="300"
                         data-start="2000"
                         data-easing="easeOutExpo"  data-link="#"                         style="font-size:14px;background-color:#f36d52;color:#fff">
                        
                                                     shop now
                         
                    </div>
                                        <div class="caption lfb easeOutExpo                        "
                         data-x="67"
                         data-y="33"
                         data-speed="300"
                         data-start="2400"
                         data-easing="easeOutExpo"                           >
                        
                                                  <img src="{% static 'tohfa/themes/leo_giftshop/img/modules/leosliderlayer/banner-3.png' %}" alt=""/>
                         
                    </div>
                                                        </li>           
                                            </ul>
             
            <div class="tp-bannertimer tp-top"></div>
                    </div>
    </div>

<script type="text/javascript">
             
                 var tpj=jQuery;
                 
                 if (tpj.fn.cssOriginal!=undefined)
                 tpj.fn.css = tpj.fn.cssOriginal;

                 tpj("#sliderlayer826675791").revolution(
                 {
                     delay:9000,
                 startheight:431,
                 startwidth:1250,


                 hideThumbs:200,

                 thumbWidth:100,                     
                 thumbHeight:50,
                 thumbAmount:5,
                                  navigationType:"none",
                                  navigationArrows:"verticalcentered",                
                                  navigationStyle:"round",          
                 
                 navOffsetHorizontal:0,
				                  navOffsetVertical:20,  
					
                 touchenabled:"on",         
                 onHoverStop:"on",                     
                 shuffle:"on",  
                 stopAtSlide: -1,                        
                 stopAfterLoops:-1,                     

                 hideCaptionAtLimit:0,              
                 hideAllCaptionAtLilmit:0,              
                 hideSliderAtLimit:0,           
                 fullWidth:"on",
                 shadow:0
                 });
                 $( document ).ready(function() {
                    $('.caption',$('#sliderlayer826675791')).click(function(){
                        if($(this).data('link') != undefined && $(this).data('link') != '') location.href = $(this).data('link');
                    });
                 });
             
</script>
					</div>
				</section>
            				            
						
			{% include 'tohfa/leftbar.html' %}
            
<section id="center_column" class="col-md-9">
  
		<div class="clearfix">           
        <div class="row block" >
                                                                 <div class="widget col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12" >
                                                            

<div class="products_block exclusive leomanagerwidgets bestseller">
		<h4 class="widget-heading page-subheading">
		best <span>offer</span>
	</h4>
		<div class="block_content">	
											<div class="carousel slide" id="leospecialproduct1231923971">
						 
					 	<a class="carousel-control left" href="#leospecialproduct1231923971"   data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#leospecialproduct1231923971"  data-slide="next">&rsaquo;</a>
					
					<div class="carousel-inner">
																			<div class="item active">
								<div class="grid">
																														<div class="row">
                                                                                                      {% for item in list1 %}                  
																					<div class="ajax_block_product product_block col-md-4 col-sm-6 col-xs-6 col-sp-12 ">
											
												    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url">
				<img class="replace-2x img-responsive" src="{{ item.image1.url }}" alt="{{ item.item_name }}" title="{{ item.item_name }}" itemprop="image" />
				<span class="product-additional" data-idproduct="{{ item.product_id }}"></span>
			</a>
            {% if item.discount < 1 %}
			<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>{% endif %}
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'single' item.product_id %}" rel="#" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_{{ item.product_id }}" href="#" rel="{{ item.product_id }}" onclick="WishlistCart('wishlist_block_list', 'add', '{{ item.product_id }}', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'single' item.product_id %}" data-id-product="{{ item.product_id }}" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																											<a class="button ajax_add_to_cart_button btn btn-outline" href="{% url 'add' item.product_id %}" rel="nofollow" title="Add to cart" data-id-product="{{ item.product_id }}">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url" >
					{{ item.item_name }}
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				{{ item.description }}
			</div>
		
			
			
						
			<div class="product-flags">
															<span class="online_only label label-warning">Online only</span>
																			<span class="discount label label-danger">Reduced price!</span>
								</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="{% url 'http://schema.org/InStock" />In Stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							${{ item.price }}						</span>
						<meta itemprop="priceCurrency" content="USD" />
													
							<span class="old-price product-price">
								${{ item.old_price }}
							</span>
															{% if item.discount > 0 %}<span class="price-percent-reduction">-{{ item.discount }}%</span>{% endif %}
																			
						
									</div>
			
		</div>
	</div>
</div>
<!-- .product-container> -->

											</div>		
											
	{% endfor %}
																															
											
																															
																					</div>
											
																	</div>
						</div>		
												<div class="item ">
								<div class="grid">
																														<div class="row">
																					{% for item in list2 %}                  
																					<div class="ajax_block_product product_block col-md-4 col-sm-6 col-xs-6 col-sp-12 ">
											
												    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url">
				<img class="replace-2x img-responsive" src="{{ item.image1.url }}" alt="{{ item.item_name }}" title="{{ item.item_name }}" itemprop="image" />
				<span class="product-additional" data-idproduct="{{ item.product_id }}"></span>
			</a>
            {% if item.discount < 1 %}
			<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>{% endif %}
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'single' item.product_id %}" rel="#" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_{{ item.product_id }}" href="#" rel="{{ item.product_id }}" onclick="WishlistCart('wishlist_block_list', 'add', '{{ item.product_id }}', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'single' item.product_id %}" data-id-product="{{ item.product_id }}" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="#" rel="nofollow" title="Add to cart" data-id-product="{{ item.product_id }}">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url" >
					{{ item.item_name }}
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				{{ item.description }}
			</div>
		
			
			
						
			<div class="product-flags">
															<span class="online_only label label-warning">Online only</span>
																			<span class="discount label label-danger">Reduced price!</span>
								</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="{% url 'http://schema.org/InStock" />In Stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							${{ item.price }}						</span>
						<meta itemprop="priceCurrency" content="USD" />
													
							<span class="old-price product-price">
								${{ item.old_price }}
							</span>
															{% if item.discount > 0 %}<span class="price-percent-reduction">-{{ item.discount }}%</span>{% endif %}
																			
						
									</div>
			
		</div>
	</div>
</div>
<!-- .product-container> -->

											</div>		
											
	{% endfor %}
																															
											
																															
											
																														
																					</div>
											
																	</div>
						</div>		
										</div>
				</div>
						</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#leospecialproduct1231923971').each(function(){
        $(this).carousel({
            pause: 'hover',
            interval: 80000
        });
    });
});
</script>
                                                         </div>
                                            </div>
           
        <div class="clearfix bg-white block gr-carousel" >
        		<h4 class="title_block"><span>Cards</span></h4>
                                                                 <div class="widget col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sp-12 adv-mobile" >
                                                            <div class="widget-html block">
		<div class="block_content">
		<p><a href="#"><img class="img-responsive" src="{% static 'tohfa/themes/leo_giftshop/img/modules/leomanagewidgets/home-banner-1.jpg' %}" alt="01" /></a></p>
	</div>
</div>
                                                        </div>
                                                                 <div class="widget col-lg-9 col-md-9 col-sm-9 col-xs-12 col-sp-12" >
                                                            
<div class="products_block exclusive leomanagerwidgets" >
		<div class="block_content">	
					<div class="carousel slide" id="leoproductcarousel583348767">
		 
	 	<a class="carousel-control left" href="#leoproductcarousel583348767"   data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#leoproductcarousel583348767"  data-slide="next">&rsaquo;</a>
	
	<div class="carousel-inner">
							<div class="item active">
				<div class="product_list grid">
																<div class="row">
                                                                
								{% for item in list7 %}                  
																					<div class="ajax_block_product product_block col-md-4 col-sm-6 col-xs-6 col-sp-12 ">
											
												    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url">
				<img class="replace-2x img-responsive" src="{{ item.image1.url }}" alt="{{ item.item_name }}" title="{{ item.item_name }}" itemprop="image" />
				<span class="product-additional" data-idproduct="{{ item.product_id }}"></span>
			</a>
            {% if item.discount < 1 %}
			<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>{% endif %}
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'single' item.product_id %}" rel="#" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_{{ item.product_id }}" href="#" rel="{{ item.product_id }}" onclick="WishlistCart('wishlist_block_list', 'add', '{{ item.product_id }}', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'single' item.product_id %}" data-id-product="{{ item.product_id }}" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="#" rel="nofollow" title="Add to cart" data-id-product="{{ item.product_id }}">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url" >
					{{ item.item_name }}
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				{{ item.description }}
			</div>
		
			
			
						
			<div class="product-flags">
															<span class="online_only label label-warning">Online only</span>
																			<span class="discount label label-danger">Reduced price!</span>
								</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="{% url 'http://schema.org/InStock" />In Stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							${{ item.price }}						</span>
						<meta itemprop="priceCurrency" content="USD" />
													
							<span class="old-price product-price">
								${{ item.old_price }}
							</span>
															{% if item.discount > 0 %}<span class="price-percent-reduction">-{{ item.discount }}%</span>{% endif %}
																			
						
									</div>
			
		</div>
	</div>
</div>
<!-- .product-container> -->

											</div>		
											
	{% endfor %}
																															
											
						
																
																
											</div>
						
									</div>
		</div>		
				<div class="item ">
				<div class="product_list grid">
																<div class="row">
											{% for item in list8 %}                  
																					<div class="ajax_block_product product_block col-md-4 col-sm-6 col-xs-6 col-sp-12 ">
											
												    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url">
				<img class="replace-2x img-responsive" src="{{ item.image1.url }}" alt="{{ item.item_name }}" title="{{ item.item_name }}" itemprop="image" />
				<span class="product-additional" data-idproduct="{{ item.product_id }}"></span>
			</a>
            {% if item.discount < 1 %}
			<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>{% endif %}
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'single' item.product_id %}" rel="#" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_{{ item.product_id }}" href="#" rel="{{ item.product_id }}" onclick="WishlistCart('wishlist_block_list', 'add', '{{ item.product_id }}', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'single' item.product_id %}" data-id-product="{{ item.product_id }}" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="#" rel="nofollow" title="Add to cart" data-id-product="{{ item.product_id }}">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url" >
					{{ item.item_name }}
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				{{ item.description }}
			</div>
		
			
			
						
			<div class="product-flags">
															<span class="online_only label label-warning">Online only</span>
																			<span class="discount label label-danger">Reduced price!</span>
								</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="{% url 'http://schema.org/InStock" />In Stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							${{ item.price }}						</span>
						<meta itemprop="priceCurrency" content="USD" />
													
							<span class="old-price product-price">
								${{ item.old_price }}
							</span>
															{% if item.discount > 0 %}<span class="price-percent-reduction">-{{ item.discount }}%</span>{% endif %}
																			
						
									</div>
			
		</div>
	</div>
</div>
<!-- .product-container> -->

											</div>		
											
	{% endfor %}
																															
											
											</div>
						
									</div>
		</div>		
		</div>
</div>





			</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#leoproductcarousel583348767').each(function(){
        $(this).carousel({
            pause: 'hover',
            interval: 80000
        });
    });
});
</script>
                                                        </div>
                                            </div>
           
        <div class="clearfix bg-white block gr-carousel" >
        		<h4 class="title_block"><span>Cakes</span></h4>
                                                                 <div class="widget col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sp-12 adv-mobile" >
                                                            <div class="widget-html block">
		<div class="block_content">
		<p><a href="#"><img class="img-responsive" src="{% static 'tohfa/themes/leo_giftshop/img/modules/leomanagewidgets/home-banner-2.jpg' %}" alt="01" /></a></p>
	</div>
</div>
                                                        </div>
                                                                 <div class="widget col-lg-9 col-md-9 col-sm-9 col-xs-12 col-sp-12" >
                                                            
<div class="products_block exclusive leomanagerwidgets" >
		<div class="block_content">	
					<div class="carousel slide" id="leoproductcarousel575551324">
	
	<div class="carousel-inner">
							<div class="item active">
				<div class="product_list grid">
																<div class="row">
											
																
																{% for item in list5 %}                  
																					<div class="ajax_block_product product_block col-md-4 col-sm-6 col-xs-6 col-sp-12 ">
											
												    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url">
				<img class="replace-2x img-responsive" src="{{ item.image1.url }}" alt="{{ item.item_name }}" title="{{ item.item_name }}" itemprop="image" />
				<span class="product-additional" data-idproduct="{{ item.product_id }}"></span>
			</a>
            {% if item.discount < 1 %}
			<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>{% endif %}
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'single' item.product_id %}" rel="#" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_{{ item.product_id }}" href="#" rel="{{ item.product_id }}" onclick="WishlistCart('wishlist_block_list', 'add', '{{ item.product_id }}', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'single' item.product_id %}" data-id-product="{{ item.product_id }}" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="#" rel="nofollow" title="Add to cart" data-id-product="{{ item.product_id }}">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url" >
					{{ item.item_name }}
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				{{ item.description }}
			</div>
		
			
			
						
			<div class="product-flags">
															<span class="online_only label label-warning">Online only</span>
																			<span class="discount label label-danger">Reduced price!</span>
								</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="{% url 'http://schema.org/InStock" />In Stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							${{ item.price }}						</span>
						<meta itemprop="priceCurrency" content="USD" />
													
							<span class="old-price product-price">
								${{ item.old_price }}
							</span>
															{% if item.discount > 0 %}<span class="price-percent-reduction">-{{ item.discount }}%</span>{% endif %}
																			
						
									</div>
			
		</div>
	</div>
</div>
<!-- .product-container> -->

											</div>		
											
	{% endfor %}
																															
											
											</div>
						
									</div>
		</div>		
		</div>
</div>





			</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#leoproductcarousel575551324').each(function(){
        $(this).carousel({
            pause: 'hover',
            interval: 80000
        });
    });
});
</script>
                                                        </div>
                                            </div>
           
        <div class="clearfix bg-white block gr-carousel" >
        		<h4 class="title_block"><span>Flowers</span></h4>
                                                                 <div class="widget col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sp-12 adv-mobile" >
                                                            <div class="widget-html block">
		<div class="block_content">
		<p><a href="#"><img class="img-responsive" src="{% static 'tohfa/themes/leo_giftshop/img/modules/leomanagewidgets/home-banner-3.jpg' %}" alt="01" /></a></p>
	</div>
</div>
                                                        </div>
                                                                 <div class="widget col-lg-9 col-md-9 col-sm-9 col-xs-12 col-sp-12" >
                                                            
<div class="products_block exclusive leomanagerwidgets" >
		<div class="block_content">	
					<div class="carousel slide" id="leoproductcarousel1573654921">
		 
	 	<a class="carousel-control left" href="#leoproductcarousel1573654921"   data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#leoproductcarousel1573654921"  data-slide="next">&rsaquo;</a>
	
	<div class="carousel-inner">
							<div class="item active">
				<div class="product_list grid">
																<div class="row">
											{% for item in list3 %}                  
																					<div class="ajax_block_product product_block col-md-4 col-sm-6 col-xs-6 col-sp-12 ">
											
												    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url">
				<img class="replace-2x img-responsive" src="{{ item.image1.url }}" alt="{{ item.item_name }}" title="{{ item.item_name }}" itemprop="image" />
				<span class="product-additional" data-idproduct="{{ item.product_id }}"></span>
			</a>
            {% if item.discount < 1 %}
			<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>{% endif %}
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'single' item.product_id %}" rel="#" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_{{ item.product_id }}" href="#" rel="{{ item.product_id }}" onclick="WishlistCart('wishlist_block_list', 'add', '{{ item.product_id }}', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'single' item.product_id %}" data-id-product="{{ item.product_id }}" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="#" rel="nofollow" title="Add to cart" data-id-product="{{ item.product_id }}">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url" >
					{{ item.item_name }}
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				{{ item.description }}
			</div>
		
			
			
						
			<div class="product-flags">
															<span class="online_only label label-warning">Online only</span>
																			<span class="discount label label-danger">Reduced price!</span>
								</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="{% url 'http://schema.org/InStock" />In Stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							${{ item.price }}						</span>
						<meta itemprop="priceCurrency" content="USD" />
													
							<span class="old-price product-price">
								${{ item.old_price }}
							</span>
															{% if item.discount > 0 %}<span class="price-percent-reduction">-{{ item.discount }}%</span>{% endif %}
																			
						
									</div>
			
		</div>
	</div>
</div>
<!-- .product-container> -->

											</div>		
											
	{% endfor %}
																															
											
						
																
											</div>
						
									</div>
		</div>		
				<div class="item ">
				<div class="product_list grid">
																<div class="row">
									{% for item in list4 %}                  
																					<div class="ajax_block_product product_block col-md-4 col-sm-6 col-xs-6 col-sp-12 ">
											
												    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url">
				<img class="replace-2x img-responsive" src="{{ item.image1.url }}" alt="{{ item.item_name }}" title="{{ item.item_name }}" itemprop="image" />
				<span class="product-additional" data-idproduct="{{ item.product_id }}"></span>
			</a>
            {% if item.discount < 1 %}
			<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>{% endif %}
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'single' item.product_id %}" rel="#" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_{{ item.product_id }}" href="#" rel="{{ item.product_id }}" onclick="WishlistCart('wishlist_block_list', 'add', '{{ item.product_id }}', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'single' item.product_id %}" data-id-product="{{ item.product_id }}" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="#" rel="nofollow" title="Add to cart" data-id-product="{{ item.product_id }}">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url" >
					{{ item.item_name }}
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				{{ item.description }}
			</div>
		
			
			
						
			<div class="product-flags">
															<span class="online_only label label-warning">Online only</span>
																			<span class="discount label label-danger">Reduced price!</span>
								</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="{% url 'http://schema.org/InStock" />In Stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							${{ item.price }}						</span>
						<meta itemprop="priceCurrency" content="USD" />
													
							<span class="old-price product-price">
								${{ item.old_price }}
							</span>
															{% if item.discount > 0 %}<span class="price-percent-reduction">-{{ item.discount }}%</span>{% endif %}
																			
						
									</div>
			
		</div>
	</div>
</div>
<!-- .product-container> -->

											</div>		
											
	{% endfor %}
																															
											
											</div>
						
									</div>
		</div>		
		</div>
</div>





			</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#leoproductcarousel1573654921').each(function(){
        $(this).carousel({
            pause: 'hover',
            interval: 8000
        });
    });
});
</script>
                                                        </div>
                                            </div>
    
</div>
								</section>


                	</div>
				</div>
            </section>
<!-- Footer -->
            			
				<section id="bottom">
					<div class="container container-nopadding">	
							           
        <div class="row" >
                                                                 <div class="widget col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12" >
                                                            <div class="widget-html block">
		<div class="block_content">
		<div class="service-group hidden-xs hidden-sm row text-center">
        {% for item in list6 %}
<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
<div class="service-block">
<div class="image-wrapper"><img class="img-responsive" src="{{ item.image1.url }}" alt="{{ item.product_id }}" /></div>
<h3>{{ item.description }}</h3>
<p>{{ item.catagory }}</p>
</div>
</div>
{% endfor %}
</div>
	</div>
</div>
                                                        </div>
                                            </div>
    
	
					</div>
				</section>
                {% include 'tohfa/footer.html' %}
						
		</section><!-- #page -->
</body>
<!-- Mirrored from demo4leotheme.com/prestashop/leo_gift_shop_demo/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Sep 2015 07:30:21 GMT -->
</html>