{% load staticfiles %}
<!-- Content -->
			<section id="columns" class="columns-container">
				<div class="container">
											<div id="top_column" class="center_column clearfix">
							
						</div>
										<div class="row">
                                                
                    						<!-- Left -->
<section id="left_column" class="column sidebar col-md-3" role="navigation">
		<!-- Block categories module -->
<div id="categories_block_left" class="block block-highlighted nopadding">
	<h4 class="title_block cleafix">
					Categories
				<span class="fa fa-bars pull-right"></span>
	</h4>
	<div class="block_content">
		<ul class="list-block list-group bullet tree dhtml">
												
<li >
	<a href="{% url 'catagory' 'cards' %}" title="cards">
		Cards
		 <span id="leo-cat-3" style="display:none" class="leo-qty"></span>
	</a>
			<ul>
												
<li >
	<a href="{% url 'sub_catagory' 'relations' %}" title="relations">
		Relation
		 <span id="leo-cat-4" style="display:none" class="leo-qty"></span>
	</a>
			<ul>
												
<li >
	<a href="{% url 'sub_sub_catagory' 'brother' %}" title="Brother">
		Brother
		 <span id="leo-cat-5" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_sub_catagory' 'friend' %}" title="relations">
		Friend
		 <span id="leo-cat-6" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_sub_catagory' 'husband' %}" title="husband">
		Husband
		 <span id="leo-cat-7" style="display:none" class="leo-qty"></span>
	</a>
	</li>
    
<li >
	<a href="{% url 'sub_sub_catagory' 'wife' %}" title="Brother">
		Wife
		 <span id="leo-cat-5" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_sub_catagory' 'teacher' %}" title="relations">
		Teacher
		 <span id="leo-cat-6" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_sub_catagory' 'sister' %}" title="husband">
		Sister
		 <span id="leo-cat-7" style="display:none" class="leo-qty"></span>
	</a>
	</li>
    
    
<li class="last">
	<a href="{% url 'sub_sub_catagory' 'father' %}" title="husband">
		Father
		 <span id="leo-cat-7" style="display:none" class="leo-qty"></span>
	</a>
	</li>
    
<li >
	<a href="{% url 'sub_sub_catagory' 'mother' %}" title="Brother">
		Mother
		 <span id="leo-cat-5" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_sub_catagory' 'daughter' %}" title="relations">
		Daughter
		 <span id="leo-cat-6" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_sub_catagory' 'son' %}" title="husband">
		Son
		 <span id="leo-cat-7" style="display:none" class="leo-qty"></span>
	</a>
	</li>

									</ul>
	</li>

																
<li >
	<a href="{% url 'sub_catagory' 'ocassions' %}" title="ocassion">
		Occasion
		 <span id="leo-cat-8" style="display:none" class="leo-qty"></span>
	</a>
			<ul>
												
<li >
	<a href="{% url 'sub_sub_catagory' 'anniversary' %}" title="Casual ocassion">
		Anniversary
		 <span id="leo-cat-9" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_sub_catagory' 'birthday' %}" title="Evening ocassion">
		Birthday
		 <span id="leo-cat-10" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_sub_catagory' 'diwali' %}" title="Summer ocassion">
		Diwali
		 <span id="leo-cat-11" style="display:none" class="leo-qty"></span>
	</a>
	</li>
    
    
<li >
	<a href="{% url 'sub_sub_catagory' 'Rakhi' %}" title="Casual ocassion">
		Rakhi
		 <span id="leo-cat-9" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_sub_catagory' 'christmas' %}" title="Evening ocassion">
		Christmas
		 <span id="leo-cat-10" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_sub_catagory' 'new year' %}" title="Summer ocassion">
		New Year
		 <span id="leo-cat-11" style="display:none" class="leo-qty"></span>
	</a>
	</li>

									</ul>
	</li>

																
<li >
	<a href="{% url 'sub_catagory' 'for_him' %}" title="for_him">
		For Him
		 <span id="leo-cat-14" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_catagory' 'for_her' %}" title="red_velvet">
		For Her
		 <span id="leo-cat-15" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_catagory' 'sorry' %}" title="sorry">
		Sorry
		 <span id="leo-cat-16" style="display:none" class="leo-qty"></span>
	</a>
	</li>


<li >
	<a href="{% url 'sub_catagory' 'thank you' %}" title="red_velvet">
		Thank you
		 <span id="leo-cat-15" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_catagory' 'get well soon' %}" title="sorry">
		Get Well Soon
		 <span id="leo-cat-16" style="display:none" class="leo-qty"></span>
	</a>
	</li>
									</ul>
	</li>

																
<li >
	<a href="{% url 'catagory' 'cakes' %}" title="cakes">
		Cakes
		 <span id="leo-cat-17" style="display:none" class="leo-qty"></span>
	</a>
			<ul>
												
<li >
	<a href="{% url 'sub_catagory' 'red_velvet' %}" title="red_velvet">
		Red Velvet
		 <span id="leo-cat-18" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_catagory' 'blue_berry_cheese' %}" title="Blue Berry Cheese">
		Blue Berry Cheese
		 <span id="leo-cat-12" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_catagory' 'strawberry_cheese_cake' %}" title="strawberry_cheese_cake">
		Strawberry Cheese Cake
		 <span id="leo-cat-19" style="display:none" class="leo-qty"></span>
	</a>
	</li>

												
<li >
	<a href="{% url 'sub_catagory' 'oreo cake' %}" title="red_velvet">
		Oreo Cake
		 <span id="leo-cat-18" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_catagory' 'chocolate mango cake' %}" title="Blue Berry Cheese">
		Chocolate Mango Cake
		 <span id="leo-cat-12" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_catagory' 'blue berry' %}" title="strawberry_cheese_cake">
		Blue Berry
		 <span id="leo-cat-19" style="display:none" class="leo-qty"></span>
	</a>
	</li>												
<li >
	<a href="{% url 'sub_catagory' 'choco chip' %}" title="red_velvet">
		Choco chip
		 <span id="leo-cat-18" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_catagory' 'choco vanilla' %}" title="Blue Berry Cheese">
		Choco Vanilla
		 <span id="leo-cat-12" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_catagory' 'pine apple cake' %}" title="strawberry_cheese_cake">
		Pine Apple Cake
		 <span id="leo-cat-19" style="display:none" class="leo-qty"></span>
	</a>
	</li>												
<li >
	<a href="{% url 'sub_catagory' 'strawberry cake' %}" title="red_velvet">
		Strawberry Cake
		 <span id="leo-cat-18" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_catagory' 'vanilla cake' %}" title="Blue Berry Cheese">
		Vanilla Cake
		 <span id="leo-cat-12" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_catagory' 'chocolate cake' %}" title="strawberry_cheese_cake">
		Chocolate Cake
		 <span id="leo-cat-19" style="display:none" class="leo-qty"></span>
	</a>
	</li>												
<li >
	<a href="{% url 'sub_catagory' 'black forest' %}" title="red_velvet">
		Black Forest
		 <span id="leo-cat-18" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'sub_catagory' 'truffle cake' %}" title="Blue Berry Cheese">
		Truffle Cake
		 <span id="leo-cat-12" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'sub_catagory' 'butter scotch cake' %}" title="strawberry_cheese_cake">
		Butter Scotch Cake
		 <span id="leo-cat-19" style="display:none" class="leo-qty"></span>
	</a>
	</li>												
<li >
	<a href="{% url 'sub_catagory' 'personalized cake' %}" title="red_velvet">
		<strong>Personalized Cake</strong>
		 <span id="leo-cat-18" style="display:none" class="leo-qty"></span>
	</a>
	</li>

									</ul>
	</li>

																
<li >
	<a href="{% url 'catagory' 'teddy_bears' %}" title="Teddy Bears">
		Teddy Bears
		 <span id="leo-cat-20" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'catagory' 'flowers' %}" title="sorry">
		Flowers
		 <span id="leo-cat-21" style="display:none" class="leo-qty"></span>
	</a>
	
<ul>
<li class="last">
	<a href="{% url 'sub_catagory' 'bouquet' %}" title="sorry">
		<strong>Bouquet</strong>
		 <span id="leo-cat-21" style="display:none" class="leo-qty"></span>
	</a>
	</li></ul></li>
									</ul>
	</div>
</div>
<!-- /Block categories module -->
           
        <div class="row nopadding border-radius" >
                                                                 <div class="widget col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12" >
                                                            <div class="widget-html block">
		<div class="block_content">
		<p><a href="#"><img class="img-responsive" src="{% static 'tohfa/themes/leo_giftshop/img/modules/leomanagewidgets/banner-sidebar.jpg' %}" alt="01" /></a></p>
	</div>
</div>
                                                        </div>
                                            </div>
           
        <div class="row" >
                                                                 <div class="widget col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 hidden-sp hidden-xs hidden-sm" >
                                                            <!-- cart_default	 -->
<div class="widget-images block bg-green">
		<h4 class="title_block">
		features products
		<span class="fa fa-th-large pull-right"></span>
	</h4>
		<div class="block_content clearfix">
			<div class="images-list clearfix">	
			<div class="row">
		 					<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/186/186-thickbox_default/printed-summer-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/186/186-cart_default/printed-summer-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/191/191-thickbox_default/printed-chiffon-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/191/191-cart_default/printed-chiffon-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/165/165-thickbox_default/printed-summer-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/165/165-cart_default/printed-summer-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/204/204-thickbox_default/printed-summer-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/204/204-cart_default/printed-summer-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/206/206-thickbox_default/printed-summer-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/206/206-cart_default/printed-summer-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/212/212-thickbox_default/printed-summer-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/212/212-cart_default/printed-summer-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/210/210-thickbox_default/printed-summer-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/210/210-cart_default/printed-summer-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/189/189-thickbox_default/printed-summer-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/189/189-cart_default/printed-summer-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/163/163-thickbox_default/printed-summer-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/163/163-cart_default/printed-summer-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/197/197-thickbox_default/printed-summer-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/197/197-cart_default/printed-summer-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/180/180-thickbox_default/printed-summer-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/180/180-cart_default/printed-summer-dress.jpg' %}" alt=""/>
				</a>
				</div>
								<div class="image-item  col-md-4 col-xs-4">
						<a class="fancybox" rel="leogallery35" href= "{% static 'tohfa/157-223/159/159-thickbox_default/printed-chiffon-dress.jpg' %}">
						<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/159/159-cart_default/printed-chiffon-dress.jpg' %}" alt=""/>
				</a>
				</div>
							</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
	$(".fancybox").fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
</script>
 
                                                        </div>
                                                                 <div class="widget col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 slider_left hidden-sp hidden-xs hidden-sm" >
                                                            <div id="custhtmlcarosel1930142689" class="block">
        <h4 class="title_block">
        testimonials
    </h4>
            <div class="carousel-inner">
            <div class="item item "><p><a href="#"><img class="img-responsive" src="{% static 'tohfa/themes/leo_giftshop/img/modules/leomanagewidgets/img_1.jpg' %}" alt="01" /> </a></p>
<h4>leonardo di caprio</h4>
<h6>Cretive Manager</h6>
<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p></div>
            <div class="item item "><p><a href="#"><img class="img-responsive" src="{% static 'tohfa/themes/leo_giftshop/img/modules/leomanagewidgets/img_2.jpg' %}" alt="01" /> </a></p>
<h4>leonardo di caprio</h4>
<h6>Cretive Manager</h6>
<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p></div>
            <div class="item item "><p><a href="#"><img class="img-responsive" src="{% static 'tohfa/themes/leo_giftshop/img/modules/leomanagewidgets/img_3.jpg' %}" alt="01" /> </a></p>
<h4>leonardo di caprio</h4>
<h6>Cretive Manager</h6>
<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum</p></div>
       
    </div>
</div>
<script type="text/javascript">

$(document).ready(function() {
    $('#custhtmlcarosel1930142689').each(function(){
        $(this).carousel({
            pause: true,
            interval: 4000
        });
    });
     
});


</script>                                                        </div>
                                            </div>
    
    <!-- Block categories module -->
        <div id="categories_blog_menu" class="block blog-menu">
      <h4 class="title_block">Blog Categories</h4>
        <div class="block_content">
            <ul class="level1 tree dhtml "><li id="list_26" class=" "><a href="{% url 'category1_c26' %}" title="Category 1"><span>Category 1</span></a> <ul class="level2 "><li id="list_27" class=" "><a href="{% url 'sub_category1_c27' %}" title="Sub Category 1"><span>Sub Category 1</span></a> </li><li id="list_28" class=" icon"><a href="{% url 'sub_category2_c28' %}" title="Sub Category 2"><span>Sub Category 2</span></a> </li></ul></li></ul>
        </div>
    </div>
        <!-- /Block categories module -->

</section>
<!-- Center -->