{% load staticfiles %}
<!DOCTYPE HTML>

{% include 'tohfa/h1.html' %}
	<body id="module-leoblog-blog" class="module-leoblog-blog hide-right-column lang_en fullwidth">
						<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
	{% include 'tohfa/header.html' %}

		
							            
							<section id="breadcrumb" class="clearfix">
					<div class="container container-nopadding">
						<div class="inner">
						  
<!-- Breadcrumb -->
<div class="breadcrumb clearfix">
	<a class="home" href="{% url 'index' %}" title="Return to Home"><i class="fa fa-home"></i></a>
			<span class="navigation-pipe" >&gt;</span>
					<a href="{% url 'blog' %}">Blog</a><span class="navigation-pipe">></span><a href="{% url 'sub_category1_c27' %}">Sub Category 1</a><span class="navigation-pipe">></span>{{ product.name }}
			</div>
<!-- /Breadcrumb -->
						</div>
					</div>
				</section>
			{% include 'tohfa/leftbar.html' %}
<section id="center_column" class="col-md-9">
  
			
	<div id="blogpage" class="blog-detail blog-container">
		<div class="inner">
						<h1 class="blog-title">{{ product.name }}</h1>
			<div class="blog-meta">
								<span class="blog-author">
					<span class="fa fa-user"> Posted By: </span>
					<a href="{% url 'blogcd64' %}?author=1" title="Demo Demo">{{ product.auther }}</a>
				</span>
				
								<span class="blog-cat"> 
					<span class="fa fa-list"> In: </span> 
					<a href="{% url 'sub_category1_c27' %}" title="Sub Category 1">Sub Category 1</a>
				</span>
				
								<span class="blog-created">
					<span class="fa fa-calendar"> On: </span> 
					{{ product.date }}
				</span>
								
								<span class="blog-ctncomment">
					<span class="fa fa-comment"> Comment:</span> 
					{{ product.comments }}
				</span>
												<span class="blog-hit">
					<span class="fa fa-heart"> Hit:</span>
					{{ product.hits }}
				</span>
							</div>

			


						<div class="blog-description">
			<p>{{ product.description }}</p>
			</div>
			
			<div class="blog-content">
			<div class="description clearfix">
<p>Odio ut pretium ligula quam Vestibulum consequat convallis fringilla Vestibulum nulla. Accumsan morbi tristique auctor. At risus pretium urna tortor metus fringilla interdum mauris tempor congue.</p>
</div>
<div class="blog-content clearfix">
<div class="content-wrap clearfix">
<div class="itemFullText">
<p>Commodo laoreet semper tincidunt lorem Vestibulum nunc at In Curabitur magna. Euismod euismod Suspendisse tortor ante adipiscing risus Aenean Lorem vitae id. Odio ut pretium ligula quam Vestibulum consequat convallis fringilla Vestibulum nulla. Accumsan morbi tristique auctor Aenean nulla lacinia Nullam elit vel vel. At risus pretium urna tortor metus fringilla interdum mauris tempor congue.</p>
<p>Donec tellus Nulla lorem Nullam elit id ut elit feugiat lacus. Congue eget dapibus congue tincidunt senectus nibh risus Phasellus tristique justo. Justo Pellentesque Donec lobortis faucibus Vestibulum Praesent mauris volutpat vitae metus. Ipsum cursus vestibulum at interdum Vivamus nunc fringilla Curabitur ac quis. Nam lacinia wisi tortor orci quis vitae.</p>
<p>Sed mauris Pellentesque elit Aliquam at lacus interdum nascetur elit ipsum. Enim ipsum hendrerit Suspendisse turpis laoreet fames tempus ligula pede ac. Et Lorem penatibus orci eu ultrices egestas Nam quam Vivamus nibh. Morbi condimentum molestie Nam enim odio sodales pretium eros sem pellentesque. Sit tellus Integer elit egestas lacus turpis id auctor nascetur ut. Ac elit vitae.</p>
<p>Mi vitae magnis Fusce laoreet nibh felis porttitor laoreet Vestibulum faucibus. At Nulla id tincidunt ut sed semper vel Lorem condimentum ornare. Laoreet Vestibulum lacinia massa a commodo habitasse velit Vestibulum tincidunt In. Turpis at eleifend leo mi elit Aenean porta ac sed faucibus. Nunc urna Morbi fringilla vitae orci convallis condimentum auctor sit dui. Urna pretium elit mauris cursus Curabitur at elit Vestibulum.</p>
</div>
</div>
</div>	
			</div>
            
            <div class="blog-video-code">
				<div class="inner ">
					<iframe width="560" height="315" src="http://www.youtube.com/embed/lzY4lkT8ElU" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			
			<div class="social-share">
				  <div class="blog-social clearfix">
		<div class="social-wrap">
			<div class="social-heading"> <b>Like This</b> </div>
						<!-- Twitter Button -->
			<div class="itemTwitterButton">
				<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" >
					Twitter
				</a>
				<script type="text/javascript" src="{% static 'tohfa/platform.twitter.com/widgets.js' %}"></script>
			</div>

			 
			<!-- Facebook Button -->
			<div class="itemFacebookButton">
				<div id="fb-root"></div>
				<script type="text/javascript">
					(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "{% static 'tohfa/connect.facebook.net/en_US/all.js' %}#xfbml=1";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				</script>
				<div class="fb-like" data-send="false" data-width="200" data-show-faces="true"></div>
			</div>

			 
			 	<!-- Google +1 Button -->
			<div class="itemGooglePlusOneButton">
				<g:plusone annotation="inline" width="120"></g:plusone>
				<script type="text/javascript">
				  (function() {
				  	window.___gcfg = { lang: 'en' }; // Define button default language here
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = "{% static 'tohfa/apis.google.com/js/plusone.js' %}";
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</div>
					</div>	
 </div>





			</div>
						<div class="blog-tags">
				<span>Tags:</span>
			 
									 <a href="{% url 'blog1234' 2 %}" title="leotheme"><span>leotheme</span></a> 	
									 <a href="{% url 'blog1234' 3 %}" title="prestashop"><span>prestashop</span></a> 
                                     <a href="{% url 'blog1234' 7 %}" title="magento"><span>magento</span></a> 	
									 <a href="{% url 'blog1234' 1 %}" title="opencart"><span>opencart</span></a> 	
									 <a href="{% url 'blog1234' 8 %}" title="template"><span>template</span></a> 
                                     <a href="{% url 'blog1234' 4 %}" title="joomla"><span>joomla</span></a> 	
									 <a href="{% url 'blog1234' 6 %}" title="wordpress"><span>wordpress</span></a> 			
								 
			</div>
			
						
                        <div class="extra-blogs row">
							<div class="col-lg-6 col-md-6 col-xs-12">
					<h4>In Same Category</h4>
					<ul>{% for data in list1 %}
											<li><a href="{% url 'single2' data.count %}">{{ data.name }}</a></li>
											
                                            {% endfor %}
										</ul>
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<h4>Related by Tags</h4>
					<ul>{% for data in list2 %}
											<li><a href="{% url 'single2' data.count %}">{{ data.name }}</a></li>
											
                                            {% endfor %}
										</ul>
				</div>
						
						</div>
			
						<div class="blog-comment-block">
							<div id="blog-localengine">
		<h3>Comments</h3>
		
		<div class="comments">
			 			<div class="comment-item" id="comment17">
				<img src="http://www.gravatar.com/avatar/b63405eb2bebafa6ad525eb2871d399d?d=&amp;s=60" align="left"/>							
				<div class="comment-wrap">
					<div class="comment-meta">
						<span class="comment-created">Created On<span> Thursday, December 11, 2014</span></span>
						<span class="comment-postedby">Posted By<span> ha cong tien</span></span>
						<span class="comment-link"><a href="{% url 'single2' product.count %}#comment17">Comment Link</a></span>
					</div>

					<div class="comment-content">
						 At Nulla id tincidunt ut sed semper vel Lorem condimentum ornare. Laoreet Vestibulum lacinia massa a commodo habitasse velit Vestibulum tincidunt In
					</div>
				</div>
			</div>
			 			<div class="comment-item" id="comment18">
				<img src="http://www.gravatar.com/avatar/b63405eb2bebafa6ad525eb2871d399d?d=&amp;s=60" align="left"/>							
				<div class="comment-wrap">
					<div class="comment-meta">
						<span class="comment-created">Created On<span> Thursday, December 11, 2014</span></span>
						<span class="comment-postedby">Posted By<span> ha cong tien</span></span>
						<span class="comment-link"><a href="{% url 'single2' product.count %}#comment18">Comment Link</a></span>
					</div>

					<div class="comment-content">
						 At Nulla id tincidunt ut sed semper vel Lorem condimentum ornare. Laoreet Vestibulum lacinia massa a commodo habitasse velit Vestibulum tincidunt In
					</div>
				</div>
			</div>
									<div class="top-pagination-content clearfix bottom-line">
				
	
	 

	<!-- Pagination -->
	<div id="pagination" class="pagination clearfix">
     
		</div>
    
    <div class="product-count">
    	        	                        	                        	Showing 1 - 2 of 2 items
		    </div>

	<!-- /Pagination -->

	        </div>
	        		</div>

		<h3>Leave your comment</h3>
		<form class="form-horizontal" method="post" id="comment-form" action="{% url 'single2' product.count %}" onsubmit="return false;">
			<div class="form-group">
				<label class="col-lg-3 control-label" for="inputFullName">Full Name</label>
				<div class="col-lg-9">
					<input type="text" name="user" placeholder="Enter your full name" id="inputFullName" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-3 control-label" for="inputEmail">Email</label>
				<div class="col-lg-9">
					<input type="text" name="email"  placeholder="Enter your email" id="inputEmail" class="form-control">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-3 control-label" for="inputComment">Comment</label>
				<div class="col-lg-9">
					<textarea type="text" name="comment" rows="6"  placeholder="Enter your comment" id="inputComment" class="form-control"></textarea>
				</div>
			</div>
			 <div class="form-group">
			 	<label class="col-lg-3 control-label" for="inputEmail">Captcha</label>
			 	<div class="col-lg-8 col-md-8 ipts-captcha">
			 		 <img src="{% static 'tohfa/captcha.jpeg' %}" class="comment-capcha-image" align="left"/>
				 	<input class="form-control" type="text" name="captcha" value="" size="10"  />
				</div>
			 </div>
			 <input type="hidden" name="id_leoblog_blog" value="63">
			<div class="form-group">
				<div class="col-lg-9 col-lg-offset-3"><button class="btn btn-default" name="submitcomment" type="submit">Submit</button></div>
			</div>
		</form>
</div>
						</div>	
			
		</div>
	</div>
 									</section>


                	</div>
				</div>
            </section>
{% include 'tohfa/footer.html' %}
		</section><!-- #page -->
</body>
<!-- Mirrored from demo4leotheme.com/prestashop/leo_gift_shop_demo/en/login?back=my-account by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Sep 2015 07:34:01 GMT -->
</html>