{% load staticfiles %}
<!DOCTYPE HTML>

{% include 'tohfa/h1.html' %}
	<body id="product" class="product product-9 product-printed-summer-dress category-16 category-sorry hide-left-column hide-right-column lang_en fullwidth">
						<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			{% include 'tohfa/header.html' %}

		
							            
							<section id="breadcrumb" class="clearfix">
					<div class="container container-nopadding">
						<div class="inner">
						  
<!-- Breadcrumb -->
<div class="breadcrumb clearfix">
	<a class="home" href="{% url 'index' %}" title="Return to Home"><i class="fa fa-home"></i></a>
			<span class="navigation-pipe" >&gt;</span>
					<a href="{% url 'catagory' 'cards' %}" title="cards">cards</a><span class="navigation-pipe">></span><a href="{% url 'sorry' %}" title="sorry">sorry</a><span class="navigation-pipe">></span>Clearly Chic
			</div>
<!-- /Breadcrumb -->
						</div>
					</div>
				</section>
						
			<!-- Content -->
			<section id="columns" class="columns-container">
				<div class="container">
										<div class="row">
                                                
                    						<!-- Center -->
<section id="center_column" class="col-md-12">
  
	

								<div class="primary_block row block" itemscope itemtype="http://schema.org/Product">
					<div class="container">
				<div class="top-hr"></div>
			</div>
								<!-- left infos-->  
		<div class="pb-left-column col-xs-12 col-sm-6 col-md-5 col-lg-5">
			<!-- product img-->        
			<div id="image-block" class="clearfix">
													<span class="discount">Reduced price!</span>
													<span id="view_full_size">
													<img id="bigpic" itemprop="image" src="{% static 'tohfa/157-223/163/163-large_default/printed-summer-dress.jpg' %}" title="Clearly Chic" alt="Clearly Chic"/>
															<span class="span_link no-print btn-outline btn"></span>
																		</span>
							</div> <!-- end image-block -->
							<!-- thumbnails -->
				<div id="views_block" class="clearfix ">
					
					<div id="thumbs_list">
						<ul id="thumbs_list_frame">
																																																						<li id="thumbnail_162">
									<a href="{% static 'tohfa/157-223/162/162-thickbox_default/printed-summer-dress.jpg' %}"	data-fancybox-group="other-views" class="fancybox" title="Clearly Chic">
										<img class="img-responsive" id="thumb_162" src="{% static 'tohfa/157-223/162/162-cart_default/printed-summer-dress.jpg' %}" alt="Clearly Chic" title="Clearly Chic" itemprop="image" />
									</a>
								</li>
																																																<li id="thumbnail_163">
									<a href="{% static 'tohfa/157-223/163/163-thickbox_default/printed-summer-dress.jpg' %}"	data-fancybox-group="other-views" class="fancybox shown" title="Clearly Chic">
										<img class="img-responsive" id="thumb_163" src="{% static 'tohfa/157-223/163/163-cart_default/printed-summer-dress.jpg' %}" alt="Clearly Chic" title="Clearly Chic" itemprop="image" />
									</a>
								</li>
																																																<li id="thumbnail_164" class="last">
									<a href="{% static 'tohfa/157-223/164/164-thickbox_default/printed-summer-dress.jpg' %}"	data-fancybox-group="other-views" class="fancybox" title="Clearly Chic">
										<img class="img-responsive" id="thumb_164" src="{% static 'tohfa/157-223/164/164-cart_default/printed-summer-dress.jpg' %}" alt="Clearly Chic" title="Clearly Chic" itemprop="image" />
									</a>
								</li>
																			</ul>
					</div> <!-- end thumbs_list -->
					
				</div> <!-- end views-block -->
				<!-- end thumbnails -->
										<p class="resetimg clear no-print">
					<span id="wrapResetImages" style="display: none;">
						<a href="{% url 'single' 9 %}" name="resetImages">
							<i class="fa fa-repeat"></i>
							Display all pictures
						</a>
					</span>
				</p>
					</div> <!-- end pb-left-column -->
		<!-- end left infos-->
		<!-- pb-right-column-->
		<div class="pb-right-column col-xs-12 col-sm-6 col-md-7 col-lg-7">
		
			<h1 itemprop="name">Clearly Chic</h1>
				
			<p id="product_reference">
				<label>Model : </label>
				<span class="editable" itemprop="sku"></span>
			</p>
						<p id="product_condition">
				New
							</p>
										<div id="short_description_block">
											<div id="short_description_content" class="rte align_justify" itemprop="description"><p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat conuat auctor eu in elit.</p></div>
					
					<!-- 						<p class="buttons_bottom_block">
							<a href="javascript:{}" class="button btn btn-outline">
								More details
							</a>
						</p>
					 -->
					<!---->
				</div> <!-- end short_description_block -->
										<!-- number of item in stock -->
				<p id="pQuantityAvailable">
					<span id="quantityAvailable">1037</span>
					<span  style="display: none;" id="quantityAvailableTxt">Item</span>
					<span  id="quantityAvailableTxtMultiple">Items</span>
				</p>
										<!-- availability -->
				<p id="availability_statut">
					
					<span id="availability_value">In stock</span>
				</p>
				
				<p class="warning_inline" id="last_quantities" style="display: none" >Warning: Last items in stock!</p>
						<p id="availability_date" style="display: none;">
				<span id="availability_date_label">Availability date:</span>
				<span id="availability_date_value">0000-00-00</span>
			</p>
			<!-- Out of stock hook -->
			<div id="oosHook" style="display: none;">
				
			</div>
				<p class="socialsharing_product list-inline no-print">
					<button type="button" class="btn btn-outline btn-twitter" onclick="socialsharing_twitter_click('Clearly%20Chic%20http_/demo4leotheme.com/prestashop/leo_gift_shop_demo/en/sorry/{% url 'single' 9 %}');">
				<i class="fa fa-twitter"></i> Tweet
				<!-- <img src="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/modules/socialsharing/img/twitter.gif' %}" alt="Tweet" /> -->
			</button>
							<button type="button" class="btn btn-outline btn-facebook" onclick="socialsharing_facebook_click();">
				<i class="fa fa-facebook"></i> Share
				<!-- <img src="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/modules/socialsharing/img/facebook.gif' %}" alt="Facebook Like" /> -->
			</button>
							<button type="button" class="btn btn-outline btn-google-plus" onclick="socialsharing_google_click();">
				<i class="fa fa-google-plus"></i> Google+
				<!-- <img src="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/modules/socialsharing/img/google.gif' %}" alt="Google Plus" /> -->
			</button>
							<button type="button" class="btn btn-outline btn-pinterest" onclick="socialsharing_pinterest_click();">
				<i class="fa fa-pinterest"></i> Pinterest
				<!-- <img src="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/modules/socialsharing/img/pinterest.gif' %}" alt="Pinterest" /> -->
			</button>
			</p>
 
<div id="product_comments_block_extra" class="no-print" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
	
	<ul class="comments_advices">
							<li>
				<a class="open-comment-form" href="#new_comment_form">
					Write a review
				</a>
			</li>
			</ul>
</div>
<!--  /Module ProductComments -->			
				
						<!-- add to cart form-->
			<form id="buy_block" action="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/cart" method="post">
				<!-- hidden datas -->
				<p class="hidden">
					<input type="hidden" name="token" value="a2093dac881c4295ded84014fbecb0a9" />
					<input type="hidden" name="id_product" value="9" id="product_page_product_id" />
					<input type="hidden" name="add" value="1" />
					<input type="hidden" name="id_product_attribute" id="idCombination" value="" />
				</p>
				<div class="box-info-product">
					<div class="content_prices clearfix">
													<!-- prices -->
							<div class="price">
								<p class="our_price_display" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<link itemprop="availability" href="http://schema.org/InStock"/>																			<span id="our_price_display" itemprop="price">$28.98</span>
										<!---->
										<meta itemprop="priceCurrency" content="USD" />
										
																	</p>
								<p id="old_price">
																			
										<span id="old_price_display">$30.51</span>
										<!--  -->
																	</p>
								<p id="reduction_percent" >
									<span id="reduction_percent_display">
										-5%									</span>
								</p>
								
															</div> <!-- end prices -->
							<p id="reduction_amount"  style="display:none">
								<span id="reduction_amount_display">
																</span>
							</p>
																											 
						
						<div class="clear"></div>
					</div> <!-- end content_prices -->
					<div class="box-cart-bottom">
						<!-- quantity wanted -->
													<p id="quantity_wanted_p">
								<label>Quantity</label>
								<input type="text" name="qty" id="quantity_wanted" class="text" value="1" />
								<a href="#" data-field-qty="qty" class="btn-plus button-plus product_quantity_up ">
									<span>+</span>
								</a>
								<a href="#" data-field-qty="qty" class="btn-plus button-minus product_quantity_down">
									<span>-</span>
								</a>
								<span class="clearfix"></span>
							</p>
												<div class="pull-left" >
							<p id="add_to_cart" class="buttons_bottom_block no-print">
								<button type="submit" name="Submit" class="button exclusive btn btn-outline">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</button>
							</p>
						</div>

													<!-- usefull links-->
							<ul id="usefull_link_block" class="clearfix no-print">
								<li class="sendtofriend">
	<a id="send_friend_button" href="#send_friend_form">
		Send to a friend
	</a>
	<div style="display: none;">
		<div id="send_friend_form">
			<h2  class="page-subheading">
				Send to a friend
			</h2>
			<div class="row">
				<div class="product clearfix col-xs-12 col-sm-6">
					<img src="{% static 'tohfa/157-223/163/163-home_default/printed-summer-dress.jpg' %}" alt="Clearly Chic" />
					<div class="product_desc">
						<p class="product_name">
							<strong>Clearly Chic</strong>
						</p>
						<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat conuat auctor eu in elit.</p>
					</div>
				</div><!-- .product -->
				<div class="send_friend_form_content col-xs-12 col-sm-6" id="send_friend_form_content">
					<div id="send_friend_form_error"></div>
					<div id="send_friend_form_success"></div>
					<div class="form_container">
						<p class="intro_form">
							Recipient :
						</p>
						<p class="text">
							<label for="friend_name">
								Name of your friend <sup class="required">*</sup> :
							</label>
							<input id="friend_name" name="friend_name" type="text" value="" class="form-control"/>
						</p>
						<p class="text">
							<label for="friend_email">
								E-mail address of your friend <sup class="required">*</sup> :
							</label>
							<input id="friend_email" name="friend_email" type="text" value="" class="form-control"/>
						</p>
						<p class="txt_required">
							<sup class="required">*</sup> Required fields
						</p>
					</div>
					<p class="submit">
						<button id="sendEmail" class="btn button button-small btn-sm" name="sendEmail" type="submit">
							<span>Send</span>
						</button>&nbsp;
						or&nbsp;
						<a class="closefb" href="#">
							Cancel
						</a>
					</p>
				</div> <!-- .send_friend_form_content -->
			</div>
		</div>
	</div>
</li>





								<li class="print">
									<a href="javascript:print();">
										Print
									</a>
								</li>
															</ul>
						
						
<p class="buttons_bottom_block no-print buttons_wishlist_product">
	<a id="wishlist_button" href="#" onclick="WishlistCart('wishlist_block_list', 'add', '9', $('#idCombination').val(), document.getElementById('quantity_wanted').value); return false;" rel="nofollow"  title="Add to my wishlist">
		Add to my wishlist
	</a>
</p>
<!-- Productpaymentlogos module -->
<div id="product_payment_logos">
	<div class="box-security">
    <h5 class="product-heading-h5"></h5>
  			<img src="{% static 'tohfa/modules/productpaymentlogos/img/payment-logo.png' %}" alt="" class="img-responsive" />
	    </div>
</div>
<!-- /Productpaymentlogos module -->
<strong></strong>

					</div> <!-- end box-cart-bottom -->
					<div class="product_attributes clearfix">
						<!-- minimal quantity wanted -->
						<p id="minimal_quantity_wanted_p" style="display: none;">
							This product is not sold individually. You must select at least <b id="minimal_quantity_label">1</b> quantity for this product.
						</p>
													<!-- attributes -->
							<div id="attributes">
								<div class="clearfix"></div>
																											<fieldset class="attribute_fieldset">
											<label class="attribute_label" for="group_1">Size :&nbsp;</label>
																						<div class="attribute_list">
																									<select class="form-control attribute_select no-print" name="group_1" id="group_1">
																													<option value="1" selected="selected" title="S">S</option>
																													<option value="2" title="M">M</option>
																													<option value="3" title="L">L</option>
																											</select>
																							</div> <!-- end attribute_list -->
										</fieldset>
																																				<fieldset class="attribute_fieldset">
											<label class="attribute_label" >Color :&nbsp;</label>
																						<div class="attribute_list">
																									<ul id="color_to_pick_list" class="clearfix">
																																																										<li>
																<a href="{% url 'single' 9 %}" id="color_11" name="Black" class="color_pick" style="background:#434A54;" title="Black">
																																	</a>
															</li>
																																																											<li>
																<a href="{% url 'single' 9 %}" id="color_13" name="Orange" class="color_pick" style="background:#F39C11;" title="Orange">
																																	</a>
															</li>
																																																											<li>
																<a href="{% url 'single' 9 %}" id="color_14" name="Blue" class="color_pick" style="background:#5D9CEC;" title="Blue">
																																	</a>
															</li>
																																																											<li class="selected">
																<a href="{% url 'single' 9 %}" id="color_16" name="Yellow" class="color_pick selected" style="background:#F1C40F;" title="Yellow">
																																	</a>
															</li>
																																																																									</ul>
													<input type="hidden" class="color_pick_hidden" name="group_3" value="16" />
																							</div> <!-- end attribute_list -->
										</fieldset>
																								</div> <!-- end attributes -->
											</div> <!-- end product_attributes -->
					
				</div> <!-- end box-info-product -->
			</form>
					</div> <!-- end pb-right-column-->
	</div> <!-- end primary_block -->
	                            <script type="text/javascript">
$(document).ready(function(){
		$('#product ul.tab-info li:first, #product .tab-content section:first').addClass('active');
	});
</script>

<ul class="nav nav-tabs tab-info page-product-heading">
				<li><a href="#tab2" data-toggle="tab">More info</a></li>
				<li><a href="#tab3" data-toggle="tab">Data sheet</a></li>
	    		    <li><a href="#idTab5" data-toggle="tab">Reviews</a></li>

					
                            </ul>
<div class="tab-content block">
	
	<!-- More info -->
	<section id="tab2" class="tab-pane page-product-box active">
		
					<!-- full description -->
			<div  class="rte"><p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement ocassion which has since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of sorry including shoes, hats, belts and more!</p></div>
			</section>
	<!--end  More info -->
	<!-- Data sheet -->
	<section id="tab3" class="tab-pane page-product-box">
		
		<table class="table-data-sheet">			
						<tr class="odd">
							    
				<td>Compositions</td>
				<td>Viscose</td>
							</tr>
						<tr class="even">
							    
				<td>Styles</td>
				<td>Casual</td>
							</tr>
						<tr class="odd">
							    
				<td>Properties</td>
				<td>Maxi Dress</td>
							</tr>
					</table>
	</section>
	<!--end Data sheet -->
<!--HOOK_PRODUCT_TAB -->		
            <session id="idTab5" class="tab-pane page-product-box">
	<div id="product_comments_block_tab">
								<p class="align_center">
				<a id="new_comment_tab_btn" class="btn btn-outline button button-small btn-sm open-comment-form" href="#new_comment_form">
					<span>Be the first to write your review !</span>
				</a>
			</p>
						
	</div> <!-- #product_comments_block_tab -->
</session>

<!-- Fancybox -->
<div style="display: none;">
	<div id="new_comment_form">
		<form id="id_new_comment_form" action="#">
			<h2 class="page-subheading">
				Write a review
			</h2>
			<div class="row">
																															<div class="product clearfix  col-xs-12 col-sm-6">
						<img src="{% static 'tohfa/157-223/163/163-medium_default/printed-summer-dress.jpg' %}" height="125" width="125" alt="elegant perfume" />
						<div class="product_desc">
							<p class="product_name">
								<strong>elegant perfume</strong>
							</p>
							<p>Printed chiffon knee length dress with tank straps. Deep v-neckline.</p>
						</div>
					</div>
								<div class="new_comment_form_content col-xs-12 col-sm-6">
					<h2>Write a review</h2>
					<div id="new_comment_form_error" class="error" style="display: none; padding: 15px 25px">
						<ul></ul>
					</div>
											<ul id="criterions_list">
													<li>
								<label>Quality:</label>
								<div class="star_content">
									<input class="star" type="radio" name="criterion[1]" value="1" />
									<input class="star" type="radio" name="criterion[1]" value="2" />
									<input class="star" type="radio" name="criterion[1]" value="3" checked="checked" />
									<input class="star" type="radio" name="criterion[1]" value="4" />
									<input class="star" type="radio" name="criterion[1]" value="5" />
								</div>
								<div class="clearfix"></div>
							</li>
												</ul>
										<label for="comment_title">
						Title: <sup class="required">*</sup>
					</label>
					<input id="comment_title" name="title" type="text" value=""/>
					<label for="content">
						Comment: <sup class="required">*</sup>
					</label>
					<textarea id="content" name="content"></textarea>
											<label>
							Your name: <sup class="required">*</sup>
						</label>
						<input id="commentCustomerName" name="customer_name" type="text" value=""/>
										<div id="new_comment_form_footer">
						<input id="id_product_comment_send" name="id_product" type="hidden" value='9' />
						<p class="fl required"><sup>*</sup> Required fields</p>
						<p class="fr">
							<button id="submitNewMessage" name="submitMessage" type="submit" class="btn button button-small btn-sm">
								<span>Send</span>
							</button>&nbsp;
							or&nbsp;
							<a class="closefb" href="#">
								Cancel
							</a>
						</p>
						<div class="clearfix"></div>
					</div> <!-- #new_comment_form_footer -->
				</div>
			</div>
		</form><!-- /end new_comment_form_content -->
	</div>
</div>
<!-- End fancybox -->
<!--end HOOK_PRODUCT_TAB -->

<!-- description & features -->
		</div>


<section class="page-product-box blockproductscategory products_block block">
	<h4 class="title_block productscategory_h3">Related Products</h4>
	<div id="productscategory_list" class="clearfix product_list grid">
										<div class="block_content">
		<div class=" carousel slide" id="blockproductscategory">
				
			<a class="carousel-control left" href="#blockproductscategory"   data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#blockproductscategory"  data-slide="next">&rsaquo;</a>
						<div class="carousel-inner">
										<div class="item active">
																	  <div class="row clearfix">
													<div class="col-sm-3 col-xs-12 product_block ajax_block_product">
								    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'printed_summer_dress_12' %}" title="Class aptent taciti socs" itemprop="url">
				<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/178/178-home_default/printed-summer-dress.jpg' %}" alt="Class aptent taciti socs" title="Class aptent taciti socs" itemprop="image" />
			</a>
			
										<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>
					</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'printed_summer_dress_12' %}" rel="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/summer-ocassion/12-printed-summer-dress.html" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_12" href="#" rel="12" onclick="WishlistCart('wishlist_block_list', 'add', '12', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'printed_summer_dress_12' %}" data-id-product="12" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="{% url 'order9543' %}?add=1&amp;id_product=12&amp;token=a2093dac881c4295ded84014fbecb0a9" rel="nofollow" title="Add to cart" data-id-product="12">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'printed_summer_dress_12' %}" title="Class aptent taciti socs" itemprop="url" >
					Class aptent taciti socs
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat conuat auctor eu in elit.
			</div>
		
			
			
						
			<div class="product-flags">
																									</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="http://schema.org/InStock" />In stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							$30.50						</span>
						<meta itemprop="priceCurrency" content="USD" />
												
						
									</div>
					</div>
	</div>
</div>
<!-- .product-container> -->


							</div>
																								<div class="col-sm-3 col-xs-12 product_block ajax_block_product">
								    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'printed_summer_dress_16' %}" title="Class aptent taciti socs" itemprop="url">
				<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/189/189-home_default/printed-summer-dress.jpg' %}" alt="Class aptent taciti socs" title="Class aptent taciti socs" itemprop="image" />
			</a>
			
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'printed_summer_dress_16' %}" rel="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/summer-ocassion/16-printed-summer-dress.html" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_16" href="#" rel="16" onclick="WishlistCart('wishlist_block_list', 'add', '16', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'printed_summer_dress_16' %}" data-id-product="16" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="{% url 'order8636' %}?add=1&amp;id_product=16&amp;token=a2093dac881c4295ded84014fbecb0a9" rel="nofollow" title="Add to cart" data-id-product="16">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'printed_summer_dress_16' %}" title="Class aptent taciti socs" itemprop="url" >
					Class aptent taciti socs
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat conuat auctor eu in elit.
			</div>
		
			
			
						
			<div class="product-flags">
																				</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="http://schema.org/InStock" />In stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							$30.50						</span>
						<meta itemprop="priceCurrency" content="USD" />
												
						
									</div>
					</div>
	</div>
</div>
<!-- .product-container> -->


							</div>
																								<div class="col-sm-3 col-xs-12 product_block ajax_block_product">
								    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'printed_summer_dress_21' %}" title="Class aptent taciti socs" itemprop="url">
				<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/204/204-home_default/printed-summer-dress.jpg' %}" alt="Class aptent taciti socs" title="Class aptent taciti socs" itemprop="image" />
			</a>
			
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'printed_summer_dress_21' %}" rel="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/summer-ocassion/21-printed-summer-dress.html" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_21" href="#" rel="21" onclick="WishlistCart('wishlist_block_list', 'add', '21', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'printed_summer_dress_21' %}" data-id-product="21" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="{% url 'order515d' %}?add=1&amp;id_product=21&amp;token=a2093dac881c4295ded84014fbecb0a9" rel="nofollow" title="Add to cart" data-id-product="21">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'printed_summer_dress_21' %}" title="Class aptent taciti socs" itemprop="url" >
					Class aptent taciti socs
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat conuat auctor eu in elit.
			</div>
		
			
			
						
			<div class="product-flags">
																				</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="http://schema.org/InStock" />In stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							$30.50						</span>
						<meta itemprop="priceCurrency" content="USD" />
												
						
									</div>
					</div>
	</div>
</div>
<!-- .product-container> -->


							</div>
																								<div class="col-sm-3 col-xs-12 product_block ajax_block_product">
								    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'printed_summer_dress_22' %}" title="Class aptent taciti socs" itemprop="url">
				<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/206/206-home_default/printed-summer-dress.jpg' %}" alt="Class aptent taciti socs" title="Class aptent taciti socs" itemprop="image" />
			</a>
			
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'printed_summer_dress_22' %}" rel="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/summer-ocassion/22-printed-summer-dress.html" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_22" href="#" rel="22" onclick="WishlistCart('wishlist_block_list', 'add', '22', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'printed_summer_dress_22' %}" data-id-product="22" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="{% url 'order9550' %}?add=1&amp;id_product=22&amp;token=a2093dac881c4295ded84014fbecb0a9" rel="nofollow" title="Add to cart" data-id-product="22">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'printed_summer_dress_22' %}" title="Class aptent taciti socs" itemprop="url" >
					Class aptent taciti socs
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat conuat auctor eu in elit.
			</div>
		
			
			
						
			<div class="product-flags">
																				</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="http://schema.org/InStock" />In stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							$30.50						</span>
						<meta itemprop="priceCurrency" content="USD" />
												
						
									</div>
					</div>
	</div>
</div>
<!-- .product-container> -->


							</div>
													</div>
															</div>
							<div class="item ">
																	  <div class="row clearfix">
													<div class="col-sm-3 col-xs-12 product_block ajax_block_product">
								    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'printed_summer_dress_25' %}" title="Morbi accumsan ipsum" itemprop="url">
				<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/218/218-home_default/printed-summer-dress.jpg' %}" alt="Morbi accumsan ipsum" title="Morbi accumsan ipsum" itemprop="image" />
			</a>
			
										<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>
					</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'printed_summer_dress_25' %}" rel="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/summer-ocassion/25-printed-summer-dress.html" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_25" href="#" rel="25" onclick="WishlistCart('wishlist_block_list', 'add', '25', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'printed_summer_dress_25' %}" data-id-product="25" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="{% url 'order9e10' %}?add=1&amp;id_product=25&amp;token=a2093dac881c4295ded84014fbecb0a9" rel="nofollow" title="Add to cart" data-id-product="25">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'printed_summer_dress_25' %}" title="Morbi accumsan ipsum" itemprop="url" >
					Morbi accumsan ipsum
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat conuat auctor eu in elit.
			</div>
		
			
			
						
			<div class="product-flags">
																									</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="http://schema.org/InStock" />In stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							$30.50						</span>
						<meta itemprop="priceCurrency" content="USD" />
												
						
									</div>
					</div>
	</div>
</div>
<!-- .product-container> -->


							</div>
																								<div class="col-sm-3 col-xs-12 product_block ajax_block_product">
								    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'single' 8 %}" title="elegant perfume" itemprop="url">
				<img class="replace-2x img-responsive" src="{% static 'tohfa/157-223/159/159-home_default/printed-chiffon-dress.jpg' %}" alt="elegant perfume" title="elegant perfume" itemprop="image" />
			</a>
			
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'single' 8 %}" rel="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/sorry/{% url 'single' 8 %}" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_8" href="#" rel="8" onclick="WishlistCart('wishlist_block_list', 'add', '8', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'single' 8 %}" data-id-product="8" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="{% url 'orderc4c4' %}?add=1&amp;id_product=8&amp;token=a2093dac881c4295ded84014fbecb0a9" rel="nofollow" title="Add to cart" data-id-product="8">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'single' 8 %}" title="elegant perfume" itemprop="url" >
					elegant perfume
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				Printed chiffon knee length dress with tank straps. Deep v-neckline.
			</div>
		
			
			
						
			<div class="product-flags">
															<span class="online_only label label-warning">Online only</span>
																			<span class="discount label label-danger">Reduced price!</span>
								</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="http://schema.org/InStock" />In stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							$16.40						</span>
						<meta itemprop="priceCurrency" content="USD" />
													
							<span class="old-price product-price">
								$20.50
							</span>
															<span class="price-percent-reduction">-20%</span>
																			
						
									</div>
					</div>
	</div>
</div>
<!-- .product-container> -->


							</div>
													</div>
															</div>
						</div>
		</div>
		</div>
	</div>
</section>





            	
 
								</section>


                	</div>
				</div>
            </section>
{% include 'tohfa/footer.html' %}
		</section><!-- #page -->
</body>
<!-- Mirrored from demo4leotheme.com/prestashop/leo_gift_shop_demo/en/login?back=my-account by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Sep 2015 07:34:01 GMT -->
</html>