{% load staticfiles %}
<!DOCTYPE HTML>

{% include 'tohfa/h1.html' %}
	<body id="category" class="category category-15 category-red_velvet lang_en fullwidth">
						<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
							{% include 'tohfa/header.html' %}

		
							            
							<section id="breadcrumb" class="clearfix">
					<div class="container container-nopadding">
						<div class="inner">
						  
<!-- Breadcrumb -->
<div class="breadcrumb clearfix">
	<a class="home" href="{% url 'index' %}" title="Return to Home"><i class="fa fa-home"></i></a>
			<span class="navigation-pipe" >&gt;</span>
					<a href="{% url  'cards' %}" title="cards">cards</a><span class="navigation-pipe">></span>For Her
			</div>
<!-- /Breadcrumb -->
						</div>
					</div>
				</section>
						
			<!-- Content -->
			<section id="columns" class="columns-container">
				<div class="container">
										<div class="row">
                                                
                    						<!-- Left -->
<section id="left_column" class="column sidebar col-md-3" role="navigation">
		           
        {% include 'tohfa/leftbar2.html' %}

</section>
<!-- Center -->
<section id="center_column" class="col-md-9">
  
	

	    				<div class="content_scene_cat">
            	                     <!-- Category image -->
                    <div class="content_scene_cat_bg scene_cat">
												<div class="image">
                    		<img class="img-responsive" src="{% static 'tohfa/c/15-category_default/red_velvet.jpg' %}" alt="red_velvet" title="red_velvet" id="categoryImage"  /> 
						</div>
                    	                                                    <div class="cat_desc">                            
                                                            <div class="rte"><p>Sed mauris Pellentesque elit Aliquam at lacus interdum nascetur elit ipsum. Enim ipsum hendrerit Suspendisse turpis laoreet fames tempus ligula...</p></div>
                                                        </div>
                                             </div>
                              </div>
				<h1 class="page-heading product-listing">
            <span class="cat-name">
                red_velvet&nbsp;            </span>
            <small class="heading-counter">There are 6 products.</small>
        </h1>
				
			<div class="content_sortPagiBar clearfix">
	<div class="sortPagiBar clearfix row">					
			<div class="col-md-10 col-sm-8 col-xs-6">				
				<div class="sort">
				<div class="display hidden-xs btn-group pull-left">
	<div id="grid"><a rel="nofollow" href="#" title="Grid"><i class="fa fa-th-large"></i></a></div>
    <div id="list"><a rel="nofollow" href="#" title="List"><i class="fa fa-th-list"></i></a></div>
</div>

<form id="productsSortForm" action="{% url 'for_her' %}" class="productsSortForm form-horizontal pull-right hidden-xs ">
	<div class="select">
		<label for="selectProductSort">Sort by</label>					
		<select class="form-control selectProductSort" id="selectProductSort">
			<option value="position:asc" selected="selected">--</option>
							<option value="price:asc" >Price: Lowest first</option>
				<option value="price:desc" >Price: Highest first</option>
						<option value="name:asc" >Product Name: A to Z</option>
			<option value="name:desc" >Product Name: Z to A</option>
							<option value="quantity:desc" >In stock</option>
						<option value="reference:asc" >Reference: Lowest first</option>
			<option value="reference:desc" >Reference: Highest first</option>
		</select>
		
	</div>
</form>
<!-- /Sort products -->
			
	
											<!-- nbr product/page -->
		<!-- /nbr product/page -->
									
				</div>
			</div>
			<div class="product-compare col-md-2 col-sm-4 col-xs-6">
					<form method="post" action="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/products-comparison" class="compare-form">
		<button type="submit" class="btn btn-outline button button-medium bt_compare bt_compare" disabled="disabled">
			<span>Compare (<strong class="total-compare-val">0</strong>)</span>
		</button>
		<input type="hidden" name="compare_product_count" class="compare_product_count" value="0" />
		<input type="hidden" name="compare_product_list" class="compare_product_list" value="" />
	</form>
			
		
		
		
	
			</div>
    </div>
</div>

    
	
                    	                	
		
	
	<!-- Products list -->
	<div class="product_list grid row ">
			
		
		
							
		
		{% for item in list1 %}
							
		<div class="ajax_block_product col-sp-12 col-xs-12 col-sm-6 col-md-4				 last-item-of-tablet-line
				 last-item-of-mobile-line
				">
			    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url">
				<img class="replace-2x img-responsive" src="{{ item.image1.url }}" alt="{{ item.item_name }}" title="{{ item.item_name }}" itemprop="image" />
				<span class="product-additional" data-idproduct="{{ item.product_id }}"></span>
			</a>
            {% if item.discount < 1 %}
			<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>{% endif %}
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'single' item.product_id %}" rel="#" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_{{ item.product_id }}" href="#" rel="{{ item.product_id }}" onclick="WishlistCart('wishlist_block_list', 'add', '{{ item.product_id }}', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'single' item.product_id %}" data-id-product="{{ item.product_id }}" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="#" rel="nofollow" title="Add to cart" data-id-product="{{ item.product_id }}">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url" >
					{{ item.item_name }}
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				{{ item.description }}
			</div>
		
			
			
						
			<div class="product-flags">
															<span class="online_only label label-warning">Online only</span>
																			<span class="discount label label-danger">Reduced price!</span>
								</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="{% url 'http://schema.org/InStock" />In Stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							${{ item.price }}						</span>
						<meta itemprop="priceCurrency" content="USD" />
													
							<span class="old-price product-price">
								${{ item.old_price }}
							</span>
															{% if item.discount > 0 %}<span class="price-percent-reduction">-{{ item.discount }}%</span>{% endif %}
																			
						
									</div>
			
		</div>
	</div>
</div>
<!-- .product-container> -->

											</div>	

			{% endfor %}

		</div>






<div class="content_sortPagiBar">
	<div class="bottom-pagination-content clearfix row">
		<div class="col-md-10 col-sm-8 col-xs-6 col-sp-12">
			
	
												<!-- Pagination -->
	<div id="pagination_bottom" class="pagination clearfix pull-left">
	    			</div>
    <div class="product-count pull-right">
    	        	                        	                        	Showing 1 - 6 of 6 items
		    </div>
	<!-- /Pagination -->

		</div>
		<div class="product-compare col-md-2 col-sm-4 col-xs-6 col-sp-12">
				<form method="post" action="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/products-comparison" class="compare-form">
		<button type="submit" class="btn btn-outline button button-medium bt_compare bt_compare_bottom" disabled="disabled">
			<span>Compare (<strong class="total-compare-val">0</strong>)</span>
		</button>
		<input type="hidden" name="compare_product_count" class="compare_product_count" value="0" />
		<input type="hidden" name="compare_product_list" class="compare_product_list" value="" />
	</form>
	
		</div>
	</div>
</div>

											</section>


                	</div>
				</div>
            </section>
               {% include 'tohfa/footer.html' %}
						
		</section><!-- #page -->
</body>
<!-- Mirrored from demo4leotheme.com/prestashop/leo_gift_shop_demo/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Sep 2015 07:30:21 GMT -->
</html>s