{% load staticfiles %}
<!DOCTYPE HTML>

{% include 'tohfa/h1.html' %}
	<body id="cms" class="cms cms-4 cms-about-us hide-right-column lang_en fullwidth">
						<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			{% include 'tohfa/header.html' %}

							            
							<section id="breadcrumb" class="clearfix">
					<div class="container container-nopadding">
						<div class="inner">
						  
<!-- Breadcrumb -->
<div class="breadcrumb clearfix">
	<a class="home" href="{% url 'index' %}" title="Return to Home"><i class="fa fa-home"></i></a>
			<span class="navigation-pipe" >&gt;</span>

					<span class="navigation_page">About us</span>
			</div>
<!-- /Breadcrumb -->
						</div>
					</div>
				</section>
	{% include 'tohfa/leftbar.html' %}

<section id="center_column" class="col-md-9">
  
			<div class="rte">
		<h1 class="page-heading bottom-indent">About us</h1>
<div class="row">
<div class="col-xs-12 col-sm-4">
<div class="cms-block">
<h3 class="page-subheading">Our company</h3>
<p><strong class="dark">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididun.</strong></p>
<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
<ul class="list-1">
<li><em class="icon-ok"></em>Top quality products</li>
<li><em class="icon-ok"></em>Best customer service</li>
<li><em class="icon-ok"></em>30-days money back guarantee</li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-4">
<div class="cms-box">
<h3 class="page-subheading">Our team</h3>
<img title="cms-img" src="{% static 'tohfa/img/cms/cms-img.gif' %}" alt="cms-img" width="370" height="192" />
<p><strong class="dark">Lorem set sint occaecat cupidatat non </strong></p>
<p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
</div>
</div>
<div class="col-xs-12 col-sm-4">
<div class="cms-box">
<h3 class="page-subheading">Testimonials</h3>
<div class="testimonials">
<div class="inner"><span class="before">“</span>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.<span class="after">”</span></div>
</div>
<p><strong class="dark">Lorem ipsum dolor sit</strong></p>
<div class="testimonials">
<div class="inner"><span class="before">“</span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet conse ctetur adipisicing elit. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod.<span class="after">”</span></div>
</div>
<p><strong class="dark">Ipsum dolor sit</strong></p>
</div>
</div>
</div>
	</div>
<br />
								</section>


                	</div>
				</div>
            </section>
{% include 'tohfa/footer.html' %}
		</section><!-- #page -->
</body>
<!-- Mirrored from demo4leotheme.com/prestashop/leo_gift_shop_demo/en/login?back=my-account by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Sep 2015 07:34:01 GMT -->
</html>