{% load staticfiles %}
<!DOCTYPE HTML>

{% include 'tohfa/h1.html' %}
	<body id="category" class="category category-8 category-ocassion lang_en fullwidth">
						<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
							{% include 'tohfa/header.html' %}

		
							            
							<section id="breadcrumb" class="clearfix">
					<div class="container container-nopadding">
						<div class="inner">
						  
<!-- Breadcrumb -->
<div class="breadcrumb clearfix">
	<a class="home" href="{% url 'index' %}" title="Return to Home"><i class="fa fa-home"></i></a>
			<span class="navigation-pipe" >&gt;</span>
					<a href="{% url  'cards' %}" title="cards">cards</a><span class="navigation-pipe">></span>ocassion
			</div>
<!-- /Breadcrumb -->
						</div>
					</div>
				</section>
						
			<!-- Content -->
			<section id="columns" class="columns-container">
				<div class="container">
										<div class="row">
                                                
                    						<!-- Left -->
<section id="left_column" class="column sidebar col-md-3" role="navigation">
		<!-- Block categories module -->
<div id="categories_block_left" class="block block-highlighted nopadding">
	<h4 class="title_block cleafix">
					ocassion
				<span class="fa fa-bars pull-right"></span>
	</h4>
	<div class="block_content">
		<ul class="list-block list-group bullet tree dhtml">
												
<li >
	<a href="{% url 'sub_sub_catagory' 'anniversary' %}" title="Casual ocassion">
		Anniversary
		 <span id="leo-cat-9" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'christmas' %}" title="Evening ocassion">
		Birthday
		 <span id="leo-cat-10" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'diwali' %}" title="Summer ocassion">
		Diwali
		 <span id="leo-cat-11" style="display:none" class="leo-qty"></span>
	</a>
	</li>
    
    
<li >
	<a href="{% url 'sub_sub_catagory' 'anniversary' %}" title="Casual ocassion">
		Rakhi
		 <span id="leo-cat-9" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li >
	<a href="{% url 'christmas' %}" title="Evening ocassion">
		Christmas
		 <span id="leo-cat-10" style="display:none" class="leo-qty"></span>
	</a>
	</li>

																
<li class="last">
	<a href="{% url 'diwali' %}" title="Summer ocassion">
		New Year
		 <span id="leo-cat-11" style="display:none" class="leo-qty"></span>
	</a>
	</li>

									</ul>
	</div>
</div>
<!-- /Block categories module -->
           
       {% include 'tohfa/leftbar2.html' %}

<!-- Block layered navigation module -->
<div id="layered_block_left" class="block">
	<h4 class="title_block">Catalog</h4>
	<div class="block_content clearfix">
		<form action="#" id="layered_form">
			<div>
																										<div class="layered_filter">
						                        <div class="layered_subtitle_heading">
                            <span class="layered_subtitle">Categories</span>
                            <!--<span class="layered_close">
                            	<a href="#" rel="ul_layered_category_0"></a>
                            </span>-->
						</div>
						<ul id="ul_layered_category_0" class="col-lg-12 col-md-12 layered_filter_ul">
																																												<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_category_9" id="layered_category_9" value="9" /> 
																						<label for="layered_category_9">
																								<a href="{% url 'sub_sub_catagory' 'anniversary' %}" rel="nofollow">Casual ocassion<span> (1)</span></a>
																							</label>
										</li>
																																							<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_category_10" id="layered_category_10" value="10" /> 
																						<label for="layered_category_10">
																								<a href="{% url 'christmas' %}" rel="nofollow">Evening ocassion<span> (1)</span></a>
																							</label>
										</li>
																																							<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_category_11" id="layered_category_11" value="11" /> 
																						<label for="layered_category_11">
																								<a href="{% url 'diwali' %}" rel="nofollow">Summer ocassion<span> (16)</span></a>
																							</label>
										</li>
																																															</ul>
					</div>
																											<div class="layered_filter">
						                        <div class="layered_subtitle_heading">
                            <span class="layered_subtitle">Compositions</span>
                            <!--<span class="layered_close">
                            	<a href="#" rel="ul_layered_id_feature_5"></a>
                            </span>-->
						</div>
						<ul id="ul_layered_id_feature_5" class="col-lg-12 col-md-12 layered_filter_ul">
																																												<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_id_feature_1" id="layered_id_feature_1" value="1_5" /> 
																						<label for="layered_id_feature_1">
																								<a href="{% url 'sub_catagory' 'ocassions' %}">Polyester<span> (16)</span></a>
																							</label>
										</li>
																																							<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_id_feature_3" id="layered_id_feature_3" value="3_5" /> 
																						<label for="layered_id_feature_3">
																								<a href="{% url 'sub_catagory' 'ocassions' %}">Viscose<span> (1)</span></a>
																							</label>
										</li>
																																															</ul>
					</div>
																											<div class="layered_filter">
						                        <div class="layered_subtitle_heading">
                            <span class="layered_subtitle">Styles</span>
                            <!--<span class="layered_close">
                            	<a href="#" rel="ul_layered_id_feature_6"></a>
                            </span>-->
						</div>
						<ul id="ul_layered_id_feature_6" class="col-lg-12 col-md-12 layered_filter_ul">
																																												<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_id_feature_11" id="layered_id_feature_11" value="11_6" /> 
																						<label for="layered_id_feature_11">
																								<a href="{% url 'sub_catagory' 'ocassions' %}#styles-casual">Casual<span> (1)</span></a>
																							</label>
										</li>
																																							<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_id_feature_13" id="layered_id_feature_13" value="13_6" /> 
																						<label for="layered_id_feature_13">
																								<a href="{% url 'sub_catagory' 'ocassions' %}#styles-girly">Girly<span> (16)</span></a>
																							</label>
										</li>
																																															</ul>
					</div>
																											<div class="layered_filter">
						                        <div class="layered_subtitle_heading">
                            <span class="layered_subtitle">Properties</span>
                            <!--<span class="layered_close">
                            	<a href="#" rel="ul_layered_id_feature_7"></a>
                            </span>-->
						</div>
						<ul id="ul_layered_id_feature_7" class="col-lg-12 col-md-12 layered_filter_ul">
																																												<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_id_feature_21" id="layered_id_feature_21" value="21_7" /> 
																						<label for="layered_id_feature_21">
																								<a href="{% url 'sub_catagory' 'ocassions' %}#properties-maxi_dress">Maxi Dress<span> (1)</span></a>
																							</label>
										</li>
																																							<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_id_feature_20" id="layered_id_feature_20" value="20_7" /> 
																						<label for="layered_id_feature_20">
																								<a href="{% url 'sub_catagory' 'ocassions' %}#properties-midi_dress">Midi Dress<span> (2)</span></a>
																							</label>
										</li>
																																							<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_id_feature_19" id="layered_id_feature_19" value="19_7" /> 
																						<label for="layered_id_feature_19">
																								<a href="{% url 'sub_catagory' 'ocassions' %}#properties-short_dress">Short Dress<span> (14)</span></a>
																							</label>
										</li>
																																															</ul>
					</div>
																											<div class="layered_filter">
						                        <div class="layered_subtitle_heading">
                            <span class="layered_subtitle">Availability</span>
                            <!--<span class="layered_close">
                            	<a href="#" rel="ul_layered_quantity_0"></a>
                            </span>-->
						</div>
						<ul id="ul_layered_quantity_0" class="col-lg-12 col-md-12 layered_filter_ul">
																																																															<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_quantity_1" id="layered_quantity_1" value="1" /> 
																						<label for="layered_quantity_1">
																								<a href="{% url 'sub_catagory' 'ocassions' %}#availability-in_stock" rel="nofollow">In stock<span> (17)</span></a>
																							</label>
										</li>
																																															</ul>
					</div>
																											<div class="layered_filter">
						                        <div class="layered_subtitle_heading">
                            <span class="layered_subtitle">Manufacturer</span>
                            <!--<span class="layered_close">
                            	<a href="#" rel="ul_layered_manufacturer_0"></a>
                            </span>-->
						</div>
						<ul id="ul_layered_manufacturer_0" class="col-lg-12 col-md-12 layered_filter_ul">
																																												<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_manufacturer_8" id="layered_manufacturer_8" value="8" /> 
																						<label for="layered_manufacturer_8">
																								<a href="{% url 'sub_catagory' 'ocassions' %}#manufacturer-at_nulla_id_tincidunt_ut_sed_semper" rel="nofollow">At Nulla id tincidunt ut sed semper<span> (1)</span></a>
																							</label>
										</li>
																																							<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_manufacturer_1" id="layered_manufacturer_1" value="1" /> 
																						<label for="layered_manufacturer_1">
																								<a href="{% url 'sub_catagory' 'ocassions' %}#manufacturer-fashion_manufacturer" rel="nofollow">Fashion Manufacturer<span> (16)</span></a>
																							</label>
										</li>
																																															</ul>
					</div>
																											<div class="layered_filter">
						                        <div class="layered_subtitle_heading">
                            <span class="layered_subtitle">Condition</span>
                            <!--<span class="layered_close">
                            	<a href="#" rel="ul_layered_condition_0"></a>
                            </span>-->
						</div>
						<ul id="ul_layered_condition_0" class="col-lg-12 col-md-12 layered_filter_ul">
																																												<li class="nomargin hiddable col-lg-6 col-md-6">
																							<input type="checkbox" class="checkbox" name="layered_condition_new" id="layered_condition_new" value="new" /> 
																						<label for="layered_condition_new">
																								<a href="{% url 'sub_catagory' 'ocassions' %}#condition-new" rel="nofollow">New<span> (17)</span></a>
																							</label>
										</li>
																																																																																					</ul>
					</div>
																											<div class="layered_price" style="display: none;">
						                        <div class="layered_subtitle_heading">
                            <span class="layered_subtitle">Price</span>
                            <!--<span class="layered_close">
                            	<a href="#" rel="ul_layered_price_0"></a>
                            </span>-->
						</div>
						<ul id="ul_layered_price_0" class="col-lg-12 col-md-12 layered_filter_ul">
																								<label for="price">
										Range:
									</label> 
									<span id="layered_price_range"></span>
									<div class="layered_slider_container">
										<div class="layered_slider" id="layered_price_slider" data-type="price" data-format="1" data-unit="$"></div>
									</div>
																												</ul>
					</div>
												</div>
			<input type="hidden" name="id_category_layered" value="8" />
																																																													</form>
	</div>
	<div id="layered_ajax_loader" style="display: none;">
		<p>
			<img src="{% static 'tohfa/img/loader.gif' %}" alt="" />
			<br />Loading...
		</p>
	</div>
</div>
<!-- /Block layered navigation module -->
   
</section>
<!-- Center -->
<section id="center_column" class="col-md-9">
  
	

	    				<div class="content_scene_cat">
            	                     <!-- Category image -->
                    <div class="content_scene_cat_bg scene_cat">
												<div class="image">
                    		<img class="img-responsive" src="{% static 'tohfa/c/8-category_default/dresses.jpg' %}" alt="ocassion" title="ocassion" id="categoryImage"  /> 
						</div>
                    	                                                    <div class="cat_desc">                            
                                                            <div class="rte"><p>Find your favorites ocassion from our wide choice of evening, casual or summer ocassion!</p>
<p>We offer ocassion for every day, every style and every occasion.</p></div>
                                                        </div>
                                             </div>
                              </div>
				<h1 class="page-heading product-listing">
            <span class="cat-name">
                ocassion&nbsp;            </span>
            <small class="heading-counter">There are 17 products.</small>
        </h1>
		        		<!-- Subcategories -->
		<div id="subcategories">
			<h4 class="page-subheading">Subcategories</h4>			
			<div class="clearfix row">
							<div class="col-md-3 col-xs-6 col-sp-12">
                	<div class="subcategories scene_cat">
                		<div class="image">
							<a href="{% url 'sub_sub_catagory' 'anniversary' %}" title="Casual ocassion" class="img">
															<img class="replace-2x img-responsive" src="{% static 'tohfa/c/9-category_default/casual-dresses.jpg' %}" alt=""/>
													</a>
                   		</div>
						<h5 class="cat-name" ><a href="{% url 'sub_sub_catagory' 'anniversary' %}">Anniversary</a></h5>
													<div class="cat-desc"><p>You are looking for a dress for every day? Take a look at</p>
<p>our selection of ocassion to find one that suits you.</p></div>
											</div>
				</div>
							<div class="col-md-3 col-xs-6 col-sp-12">
                	<div class="subcategories scene_cat">
                		<div class="image">
							<a href="{% url 'christmas' %}" title="Evening ocassion" class="img">
															<img class="replace-2x img-responsive" src="{% static 'tohfa/c/10-category_default/evening-dresses.jpg' %}" alt=""/>
													</a>
                   		</div>
						<h5 class="cat-name" ><a href="{% url 'christmas' %}">Birthday</a></h5>
													<div class="cat-desc">Browse our different ocassion to choose the perfect dress for an unforgettable evening!</div>
											</div>
				</div>
							<div class="col-md-3 col-xs-6 col-sp-12">
                	<div class="subcategories scene_cat">
                		<div class="image">
							<a href="{% url 'diwali' %}" title="Summer ocassion" class="img">
															<img class="replace-2x img-responsive" src="{% static 'tohfa/c/11-category_default/summer-dresses.jpg' %}" alt=""/>
													</a>
                   		</div>
						<h5 class="cat-name" ><a href="{% url 'diwali' %}">Diwali</a></h5>
													<div class="cat-desc">Short dress, long dress, silk dress, printed dress, you will find the perfect dress for summer.</div>
											</div>
				</div>
                
                	<div class="col-md-3 col-xs-6 col-sp-12">
                	<div class="subcategories scene_cat">
                		<div class="image">
							<a href="{% url 'sub_sub_catagory' 'anniversary' %}" title="Casual ocassion" class="img">
															<img class="replace-2x img-responsive" src="{% static 'tohfa/c/9-category_default/casual-dresses.jpg' %}" alt=""/>
													</a>
                   		</div>
						<h5 class="cat-name" ><a href="{% url 'sub_sub_catagory' 'anniversary' %}">Rakhi</a></h5>
													<div class="cat-desc"><p>You are looking for a dress for every day? Take a look at</p>
<p>our selection of ocassion to find one that suits you.</p></div>
											</div>
				</div>
							<div class="col-md-3 col-xs-6 col-sp-12">
                	<div class="subcategories scene_cat">
                		<div class="image">
							<a href="{% url 'christmas' %}" title="Evening ocassion" class="img">
															<img class="replace-2x img-responsive" src="{% static 'tohfa/c/10-category_default/evening-dresses.jpg' %}" alt=""/>
													</a>
                   		</div>
						<h5 class="cat-name" ><a href="{% url 'christmas' %}">Christmas</a></h5>
													<div class="cat-desc">Browse our different ocassion to choose the perfect dress for an unforgettable evening!</div>
											</div>
				</div>
							<div class="col-md-3 col-xs-6 col-sp-12">
                	<div class="subcategories scene_cat">
                		<div class="image">
							<a href="{% url 'diwali' %}" title="Summer ocassion" class="img">
															<img class="replace-2x img-responsive" src="{% static 'tohfa/c/11-category_default/summer-dresses.jpg' %}" alt=""/>
													</a>
                   		</div>
						<h5 class="cat-name" ><a href="{% url 'diwali' %}">New Year</a></h5>
													<div class="cat-desc">Short dress, long dress, silk dress, printed dress, you will find the perfect dress for summer.</div>
											</div>
				</div>
						</div>

		</div>
						
			<div class="content_sortPagiBar clearfix">
	<div class="sortPagiBar clearfix row">					
			<div class="col-md-10 col-sm-8 col-xs-6">				
				<div class="sort">
				<div class="display hidden-xs btn-group pull-left">
	<div id="grid"><a rel="nofollow" href="#" title="Grid"><i class="fa fa-th-large"></i></a></div>
    <div id="list"><a rel="nofollow" href="#" title="List"><i class="fa fa-th-list"></i></a></div>
</div>

<form id="productsSortForm" action="{% url 'sub_catagory' 'ocassions' %}" class="productsSortForm form-horizontal pull-right hidden-xs ">
	<div class="select">
		<label for="selectProductSort">Sort by</label>					
		<select class="form-control selectProductSort" id="selectProductSort">
			<option value="position:asc" selected="selected">--</option>
							<option value="price:asc" >Price: Lowest first</option>
				<option value="price:desc" >Price: Highest first</option>
						<option value="name:asc" >Product Name: A to Z</option>
			<option value="name:desc" >Product Name: Z to A</option>
							<option value="quantity:desc" >In stock</option>
						<option value="reference:asc" >Reference: Lowest first</option>
			<option value="reference:desc" >Reference: Highest first</option>
		</select>
		
	</div>
</form>
<!-- /Sort products -->
			
	
											<!-- nbr product/page -->
			<form action="{% url 'sub_catagory' 'ocassions' %}" method="get" class="nbrItemPage pull-right">
			<div class="clearfix selector1">
												<label for="nb_item">
					Show
				</label>
																																	<input type="hidden" name="id_category" value="8" />
																			<select class="form-control" name="n" id="nb_item" >
																							<option value="12" selected="selected">12</option>
																														<option value="24" >24</option>
																																						</select>
				<span>per page</span>
			</div>
		</form>
		<!-- /nbr product/page -->
									
				</div>
			</div>
			<div class="product-compare col-md-2 col-sm-4 col-xs-6">
					<form method="post" action="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/products-comparison" class="compare-form">
		<button type="submit" class="btn btn-outline button button-medium bt_compare bt_compare" disabled="disabled">
			<span>Compare (<strong class="total-compare-val">0</strong>)</span>
		</button>
		<input type="hidden" name="compare_product_count" class="compare_product_count" value="0" />
		<input type="hidden" name="compare_product_list" class="compare_product_list" value="" />
	</form>
			
		
		
		
	
			</div>
    </div>
</div>

    
	
                    	                	
		
	
	<!-- Products list -->
	<div class="product_list grid row ">
			
	{% for item in list1 %}
							
		<div class="ajax_block_product col-sp-12 col-xs-12 col-sm-6 col-md-4				 last-item-of-tablet-line
				 last-item-of-mobile-line
				">
			    
<div class="product-container text-center product-block" itemscope itemtype="http://schema.org/Product">
	<div class="left-block">
		<div class="product-image-container image">
		   
			<a class="product_img_link"	href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url">
				<img class="replace-2x img-responsive" src="{{ item.image1.url }}" alt="{{ item.item_name }}" title="{{ item.item_name }}" itemprop="image" />
				<span class="product-additional" data-idproduct="{{ item.product_id }}"></span>
			</a>
            {% if item.discount < 1 %}
			<span class="sale-box">
					<span class="sale-label product-label">Sale!</span>
				</span>{% endif %}
								</div>

		<div class="functional-buttons clearfix">
			<div class="action-button">
								  <div class="button-quick-view">
					<a class="quick-view btn btn-tooltip" href="{% url 'single' item.product_id %}" rel="#" title="Quick view" >
						<i class="fa fa-search-plus"></i>
					</a>
				 </div>
												<div class="wishlist">
					

<a class="btn-tooltip btn addToWishlist wishlistProd_{{ item.product_id }}" href="#" rel="{{ item.product_id }}" onclick="WishlistCart('wishlist_block_list', 'add', '{{ item.product_id }}', false, 1); return false;" data-toggle="tooltip" title="Add to Wishlist">
		<i class="fa fa-heart"></i>
</a>
				</div>
								
									<div class="compare">
						<a class="add_to_compare compare btn btn-tooltip" href="{% url 'single' item.product_id %}" data-id-product="{{ item.product_id }}" title="Add to compare" >
							<i class="fa fa-refresh"></i>
						</a>						
					</div>	
							</div>
		</div>
		<div class="functional-cart-detail">
				<div class="cart">
																										<a class="button ajax_add_to_cart_button btn btn-outline" href="#" rel="nofollow" title="Add to cart" data-id-product="{{ item.product_id }}">
									<i class="fa fa-shopping-cart"></i>
									<span>Add to cart</span>
								</a>
																						</div>
			</div>	
		
		
	</div>
	<div class="right-block">
		<div class="product-meta">
			<h5 itemprop="name" class="name">
								<a class="product-name" href="{% url 'single' item.product_id %}" title="{{ item.item_name }}" itemprop="url" >
					{{ item.item_name }}
				</a>
			</h5>
			 

	<div class="comments_note product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">	
		<div class="star_content">
												<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
																<div class="star"></div>
										<meta itemprop="worstRating" content = "0" />
            <meta itemprop="ratingValue" content = "0" />
			<meta itemprop="bestRating" content = "5" />
		</div>
		<span class="nb-comments"><span itemprop="reviewCount">0</span> Review(s)</span>
	</div>

			<div class="product-desc" itemprop="description">
				{{ item.description }}
			</div>
		
			
			
						
			<div class="product-flags">
															<span class="online_only label label-warning">Online only</span>
																			<span class="discount label label-danger">Reduced price!</span>
								</div>
		
												<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="availability">
													<span class="available-now">
								<link itemprop="availability" href="{% url 'http://schema.org/InStock" />In Stock							</span>
											</div>
							
							<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="content_price">
											<span itemprop="price" class="price product-price">
							${{ item.price }}						</span>
						<meta itemprop="priceCurrency" content="USD" />
													
							<span class="old-price product-price">
								${{ item.old_price }}
							</span>
															{% if item.discount > 0 %}<span class="price-percent-reduction">-{{ item.discount }}%</span>{% endif %}
																			
						
									</div>
			
		</div>
	</div>
</div>
<!-- .product-container> -->

											</div>	

			{% endfor %}
		
		
							
		

		</div>






<div class="content_sortPagiBar">
	<div class="bottom-pagination-content clearfix row">
		<div class="col-md-10 col-sm-8 col-xs-6 col-sp-12">
			
	
												<!-- Pagination -->
	<div id="pagination_bottom" class="pagination clearfix pull-left">
	    			<form class="showall pull-left" action="{% url 'sub_catagory' 'ocassions' %}" method="get">
				<div>
											                <button type="submit" class="btn btn-outline button exclusive-medium">
	                	<span>Show all</span>
	                </button>
																																							<input type="hidden" name="id_category" value="8" />
																			                <input name="n" id="nb_item" class="hidden" value="17" />
				</div>
			</form>
							<ul class="pagination pull-left">
									<li id="pagination_previous_bottom" class="disabled pagination_previous">
						<span>
							<i class="fa fa-chevron-left"></i>
						</span>
					</li>
																															<li class="active current">
							<span>
								<span>1</span>
							</span>
						</li>
																				<li>
							<a  href="{% url 'ocassion905b' %}?p=2">
								<span>2</span>
							</a>
						</li>
																																			<li id="pagination_next_bottom" class="pagination_next">
						<a  href="{% url 'ocassion905b' %}?p=2">
							<i class="fa fa-chevron-right"></i>
						</a>
					</li>
							</ul>
			</div>
    <div class="product-count pull-right">
    	    		                        	                        	Showing 1 - 12 of 17 items
		    </div>
	<!-- /Pagination -->

		</div>
		<div class="product-compare col-md-2 col-sm-4 col-xs-6 col-sp-12">
				<form method="post" action="http://demo4leotheme.com/prestashop/leo_gift_shop_demo/en/products-comparison" class="compare-form">
		<button type="submit" class="btn btn-outline button button-medium bt_compare bt_compare_bottom" disabled="disabled">
			<span>Compare (<strong class="total-compare-val">0</strong>)</span>
		</button>
		<input type="hidden" name="compare_product_count" class="compare_product_count" value="0" />
		<input type="hidden" name="compare_product_list" class="compare_product_list" value="" />
	</form>
	
		</div>
	</div>
</div>

											</section>


                	</div>
				</div>
            </section>
               {% include 'tohfa/footer.html' %}
						
		</section><!-- #page -->
</body>
<!-- Mirrored from demo4leotheme.com/prestashop/leo_gift_shop_demo/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Sep 2015 07:30:21 GMT -->
</html>