{% load staticfiles %}
<!DOCTYPE HTML>

{% include 'tohfa/h1.html' %}
    
	<body id="module-leoblog-list" class="module-leoblog-list hide-right-column lang_en fullwidth">
						<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
{% include 'tohfa/header.html' %}

		
							            
							<section id="breadcrumb" class="clearfix">
					<div class="container container-nopadding">
						<div class="inner">
						  
<!-- Breadcrumb -->
<div class="breadcrumb clearfix">
	<a class="home" href="{% url 'index' %}" title="Return to Home"><i class="fa fa-home"></i></a>
			<span class="navigation-pipe" >&gt;</span>
					<span class="navigation_page"><a href="{% url 'blog' %}">Blog</a></span>
			</div>
<!-- /Breadcrumb -->
						</div>
					</div>
				</section>
						
{% include 'tohfa/leftbar.html' %}
<section id="center_column" class="col-md-9">
  
	     
<div id="blog-listing" class="blogs-container box">
 		 				<h1>Filter Blogs By Tag : <span>Joomla</span></h1>
			
	<div class="inner">
								<div class="leading-blog">  
								 
										<div class="nocol-lg-12">
						 <div class="blog-item">
		<h4><a href="{% url 'at_risus_pretium_urna_tortor_metus_fringilla_b53' %}" title="At risus pretium urna tortor metus fringilla">At risus pretium urna tortor metus fringilla</a></h4>
		<div class="blog-meta">
				
				<span class="blog-cat"> 
			<span class="fa fa-list"> In:</span> 
			<a href="{% url 'sub_category1_c27' %}" title="Sub Category 1">Sub Category 1</a>
		</span>
				
				
		
			</div>
		<div class="blog-image">
		<img src="{% static 'tohfa/img/leoblog/b/53/870_400/b-blog-1.jpg' %}" title="At risus pretium urna tortor metus fringilla"/>
	</div>
	
	<div class="blog-shortinfo">
				Odio ut pretium ligula quam Vestibulum consequat convallis fringilla Vestibulum nulla. Accumsan morbi tristique auctor. At risus pretium urna tortor metus...
						<p>
			<a class="button btn btn-outline" href="{% url 'at_risus_pretium_urna_tortor_metus_fringilla_b53' %}" title="At risus pretium urna tortor metus fringilla" class="btn btn-default btn-outline">Read more</a>
		</p>
			</div>
</div>
					</div>	
													 
										<div class="nocol-lg-12">
						 <div class="blog-item">
		<h4><a href="{% url 'morbi_condimentum_molestie_nam_enim_odio_sodales_b54' %}" title="Morbi condimentum molestie Nam enim odio sodales">Morbi condimentum molestie Nam enim odio sodales</a></h4>
		<div class="blog-meta">
				
				<span class="blog-cat"> 
			<span class="fa fa-list"> In:</span> 
			<a href="{% url 'sub_category1_c27' %}" title="Sub Category 1">Sub Category 1</a>
		</span>
				
				
		
			</div>
		<div class="blog-image">
		<img src="{% static 'tohfa/img/leoblog/b/54/870_400/b-blog-2.jpg' %}" title="Morbi condimentum molestie Nam enim odio sodales"/>
	</div>
	
	<div class="blog-shortinfo">
				Donec tellus Nulla lorem Nullam elit id ut elit feugiat lacus. Congue eget dapibus congue tincidunt senectus nibh risus Phasellus tristique justo. Justo...
						<p>
			<a class="button btn btn-outline" href="{% url 'morbi_condimentum_molestie_nam_enim_odio_sodales_b54' %}" title="Morbi condimentum molestie Nam enim odio sodales" class="btn btn-default btn-outline">Read more</a>
		</p>
			</div>
</div>
					</div>	
												</div>
			

						<div class="secondary-blog">

														<div class="nocol-lg-12">
						 <div class="blog-item">
		<h4><a href="{% url 'urna_pretium_elit_mauris_cursus_curabitur_at_elit_vestibulum_b55' %}" title="Urna pretium elit mauris cursus Curabitur at elit Vestibulum">Urna pretium elit mauris cursus Curabitur at elit Vestibulum</a></h4>
		<div class="blog-meta">
				
				<span class="blog-cat"> 
			<span class="fa fa-list"> In:</span> 
			<a href="{% url 'sub_category1_c27' %}" title="Sub Category 1">Sub Category 1</a>
		</span>
				
				
		
			</div>
		<div class="blog-image">
		<img src="{% static 'tohfa/img/leoblog/b/55/870_400/b-blog-3.jpg' %}" title="Urna pretium elit mauris cursus Curabitur at elit Vestibulum"/>
	</div>
	
	<div class="blog-shortinfo">
				Mi vitae magnis Fusce laoreet nibh felis porttitor laoreet Vestibulum faucibus. At Nulla id tincidunt ut sed semper vel Lorem condimentum ornare. Laoreet...
						<p>
			<a class="button btn btn-outline" href="{% url 'urna_pretium_elit_mauris_cursus_curabitur_at_elit_vestibulum_b55' %}" title="Urna pretium elit mauris cursus Curabitur at elit Vestibulum" class="btn btn-default btn-outline">Read more</a>
		</p>
			</div>
</div>
					</div>	
												</div>
						<div class="top-pagination-content clearfix bottom-line">
				
	
	 

	<!-- Pagination -->
	<div id="pagination" class="pagination clearfix">
     
		</div>
    
    <div class="product-count">
    	        	                        	                        	Showing 1 - 3 of 3 items
		    </div>

	<!-- /Pagination -->

	        </div>
	        

	</div>
</div>								</section>


                	</div>
				</div>
            </section>
{% include 'tohfa/footer.html' %}
		</section><!-- #page -->
</body>
<!-- Mirrored from demo4leotheme.com/prestashop/leo_gift_shop_demo/en/login?back=my-account by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Sep 2015 07:34:01 GMT -->
</html>